body.widget-snippet {
    padding: 40px;
}
body.widget-snippet .snippet-quick-offer .col-sm-3 {
    padding: 15px;
}
.snippet-quick-offer .col-sm-3 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.snippet-quick-offer .col-xs-6:nth-child(4n+1) {
    clear: left;
}
.snippet-quick-offer .offer-cell {
     position: relative;
}
.snippet-quick-offer i {
    color: #444;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    position: absolute;
    vertical-align: top;
}

.snippet-quick-offer span {
    color: #666;
    display: inline-block;
    font-size: 13px;
    line-height: 1.5;
    margin-left: 30px;
    vertical-align: top;
}