/*theam_sb*/
.tab-header.order-custom-fields .icon,
.menu-item.order-custom-fields .icon {
    background-image : url("../../images/admin/16-order-custom-fields.png");
}
.dashlet-ribbon.order-custom-fields .icon {
    background-image    : url("../../images/admin/order-custom-fields-ribbion-icon.png");
    background-repeat: no-repeat;
}


/*theam_sb end */
.dashlet-ribbon.order-custom-fields .icon {
    background-position: 0 0;
}
.tab-header.order-custom-fields .icon,
.menu-item.order-custom-fields .icon {
    background-position: 0 0;
}
