body.widget-snippet {
  padding: 40px;
}
.snippet-services-diamond .col-md-3 {
  padding-bottom: 15px;
  padding-top: 15px;
}
.snippet-services-diamond .choose-box {
  padding: 16px 0 0;
  text-align: center;
}
.snippet-services-diamond .icon-box {
  background-color: #222;
  height: 80px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 80px;
}
.snippet-services-diamond .icon-box i {
  color: #fff;
  font-size: 40px;
  line-height: 80px;
  margin: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.snippet-services-diamond .choose-text {
  padding-top: 25px;
}
.snippet-services-diamond .choose-text h3 {
  font-size: 16px;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.snippet-services-diamond .choose-text p {
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0 0;
  padding: 0;
}
@media (min-width: 992px) {
  .snippet-services-diamond .col-md-3:nth-child(4n+1) {
    clear: left;
  }
}
@media (max-width: 768px) {
  .snippet-services-diamond .col-md-3:nth-child(2n+1) {
    clear: left;
  }
}