/*theam_sb*/
.tab-header.google-product .icon,
.menu-item.download-feed .icon,
.menu-item.update-google-category .icon,
.menu-item.google-product-config .icon,
.menu-item.google-product .icon {
    background-image : url("../../images/admin/16-google-product.png");
}

.dashlet-ribbon.google-product .icon {
    background-image    : url("../../images/admin/google-product-ribbon-icon.png");
    background-repeat: no-repeat;
}

/*theam_sb end*/
.dashlet-ribbon.google-product .icon {
    background-position: 0 0;
}

.tab-header.google-product .icon,
.menu-item.google-product .icon {
    background-position: 0 0;
}
.menu-item.download-feed .icon {
    background-position: -16px 0;
}
.menu-item.update-google-category .icon {
    background-position: -32px 0;
}
.menu-item.google-product-config .icon {
    background-position: -48px 0;
}
#tab-google-product.app-tab-container .panel > .tree-title {
    border: medium none;
    color: #545454;
    font-size: 22px;
    margin: 0;
    padding: 0 0 15px;
}
#tab-google-product .three-column.multi-column .local-category-tree {
    border: 1px solid #e6e7e9;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.03);
    height: calc(100% - 43px);
    padding: 15px 0;
}
#workspace #tab-google-product .three-column .first-column .column-content {
    margin: 0;
    padding-right: 18px;
}
#tab-google-product.app-tab-container .panel.right-panel > .tree-title {
    padding-left: 0;
}
#tab-google-product .three-column.multi-column .last-column.columns {
    border-radius: 0;
    height: inherit;
    padding: 15px;
    width: 40%;
}
#tab-google-product .three-column.multi-column .last-column .right-panel {
    height: inherit;
}
#tab-google-product .google-category-tree {
    border: 1px solid #e6e7e9;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.03);
    height: calc(100% - 43px);
    padding: 10px;
}
#tab-google-product .tree-node.highlighted .tree-title {
    background-color: #BBC2CA;
}
#tab-google-product .tree-node.marked .tree-title {
    background-color: #caca65;
}
#tab-google-product .tree-node .tree-title {
    margin: 1px 0;
}
#workspace #tab-google-product .three-column .first-column .column-content {
    height: inherit;
}
#tab-google-product .three-column.multi-column {
    background-color: #ffffff;
    height: 100%;
    padding: 20px 10px 15px;
}
#tab-google-product .three-column.multi-column .first-column.columns {
    border-radius: 0;
    height: inherit;
    padding: 15px;
    width: 20%;
}
#tab-google-product .first-column h3 {
    color: #1199c4;
    font-size: 18px;
    margin: 0 0 18px;
    text-transform: uppercase;
}
#tab-google-product .first-column .info-content {
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
#tab-google-product .three-column.multi-column .middle-column.columns {
    border-radius: 0;
    height: inherit;
    padding: 15px;
    width: 40%;
}
#workspace #tab-google-product .three-column .middle-column .column-content {
    height: inherit;
}
#tab-google-product .multi-column.three-column .columns .title {
    font-size : 18px;
    padding   : 10px 10px 5px;
}
#tab-google-product .column-content .tree-highlighted .tree-title {
    background-color : #FFEC94;
    outline          : 1px solid #FFE156;
}
#tab-google-product .column-content .tree-active .tree-title {
    background-color : #56BAEC;
    color            : #FFFFFF;
}
#tab-google-product span.tree-icon {
    background-position : 0 0;
}
#tab-google-product .toolbar-right .search-form {
    position : relative;
}
#tab-google-product .toolbar-right .search-form .search-indicator {
    border-right : 1px solid #D9D9D9;
    height       : 18px;
    left         : 1px;
    position     : absolute;
    top          : 4px;
    width        : 17px;
    z-index: 15;
}
#tab-google-product .toolbar-right .search-form .search-indicator .next {
    background : url("../../images/admin/google_product_search_next.png") no-repeat left top;
    height     : 6px;
    left       : 5px;
    position   : absolute;
    top        : 10px;
    width      : 7px;
    cursor     : pointer;
}
#tab-google-product .toolbar-right .search-form .search-indicator .previous {
    background : url("../../images/admin/google_product_search_prev.png") no-repeat left top;
    height     : 6px;
    left       : 5px;
    position   : absolute;
    top        : 1px;
    width      : 7px;
    cursor     : pointer;
}
#tab-google-product .toolbar-right .search-form .search-text {
    padding-left : 24px;
}
