body.widget-snippet {
    padding: 40px;
}
.we-offer-snippet .offer-box-prent {
    overflow: hidden;
}
.we-offer-snippet .col-md-6:nth-child(2n+1) {
    clear: left;
}
.we-offer-snippet .col-md-6 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.offer-box-prent .img-raper {
    float: left;
    margin-right: -10px;
    margin-top: 19px;
    max-width: 150px;
}
.img-raper > img {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    max-height: 145px;
    max-width: 100%;
    padding: 5px;
}
.offer-box-text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px 15px 15px 35px;
}
h4.hadding-bdr-down {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.widget-snippet p {
    font-size: 14px;
    line-height: 24px;
    margin: 15px 0;
    padding: 0;
}
@media (max-width: 767px) {
   .offer-box-prent .img-raper {
        float: none;
    }

}