body.widget-snippet {
        background-color:#222222;
        padding: 40px;
        max-width: 300px;
    }
    .widget-snippet .footer-address ul li {
        color: #9c9c9c;
       font-family: "Poppins",sans-serif;
        font-size: 13px;
        margin:12px 0;
	line-height: 24px;
        padding-left: 30px;
        position: relative;
    }
    .widget-snippet .footer-address ul li i {
        font-size: 16px;
        color: #9c9c9c;
        left: 0;
        overflow: hidden;
        padding-left: 1px;
        position: absolute;
        top: 4px;
        width: 33px;
    }
    .widget-snippet .footer-address ul li a,
    .widget-snippet .footer-address ul li a:visited,
    .widget-snippet .footer-address ul li a:active,
    .widget-snippet .footer-address ul li a:focus {
        color: #9c9c9c;
        font-size: 13px;
        line-height: 24px;
    }
    body.widget-snippet .footer-address ul li a:focus {
        outline: none;
    }
    .widget.widget-snippet .footer-address ul li a:focus {
        outline: medium none;
    }
.widget-snippet .footer-address ul li:hover i,
    .widget-snippet .footer-address ul li a:hover {
      color: #FFB83F;
      text-decoration: none;
    }
.widget-snippet .footer-address ul li:hover .fa-home {
  color: #9c9c9c;
}
@media (max-width: 991px) {
.widget-snippet .footer-address ul li a, 
.widget-snippet .footer-address ul li a:active,
 .widget-snippet .footer-address ul li a:visited ,
.widget-snippet .footer-address ul li {
  font-size: 13px;
}
}