/*/

!.gitignore

!/default-images
/default-images/*
!/default-images/brand
!/default-images/product
!/default-images/category
!/default-images/manufacturer
!/default-images/store
#rest of the images will be from plugin

!/email-templates
/email-templates/*
!/email-templates/tell-friend
!/email-templates/create-order
!/email-templates/send-invoice
!/email-templates/create-operator
!/email-templates/create-customer
!/email-templates/payment-pending
!/email-templates/payment-success
!/email-templates/partial-shipment
!/email-templates/shipment-complete
!/email-templates/store-credit-request
!/email-templates/customer-registration
!/email-templates/customer-reset-password
!/email-templates/operator-reset-password
!/email-templates/license-validation-failed
!/email-templates/admin-order-comment-notification
!/email-templates/customer-order-comment-notification
!/email-templates/newsletter-subscription-notification
!/email-templates/customer-restricted-registration-approval
!/email-templates/customer-restricted-registration-notification
#rest of the emails will be from plugin
