/*theam_sb*/
.tab-header.googleAnalytics .icon,
.menu-item.google-analytics .icon {
    background-image : url("../../images/admin/16-google-analytics-reporting.png");
}
.tab-header.googleAnalytics .icon,
.menu-item.google-analytics .icon {
    background-position: 0 0;
}
/*theam_sb end */

.toolbar-button-group.tool-group {
    background-color : #FFFFFF;
    background       : -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #FFFFFF), color-stop(50%, #F6F6F6), color-stop(52%, #EEEEEE), color-stop(100%, #F4F4F4));
    background       : -webkit-linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
    background       : -moz-linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
    background       : -o-linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
    background       : linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
    border-width: 1px;
    border-color: #aaa #e5e5e5;
    border-style: solid solid solid none;
    border-radius: 0;
    cursor: pointer;
    padding: 3px 7px 2px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}
.toolbar-button-group.tool-group:hover {
    background : #e6e6e6;
    box-shadow: 0 1px 1px #fff inset;
    color: #777;
}
.toolbar-button-group .tool-group:first-child {
    border-left: 1px solid #AAAAAA;
    border-radius: 5px 0 0 5px;
}
.toolbar-button-group .tool-group:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #aaa;
}
#tab-google-analytics .analytics-report {
    background: none repeat scroll 0 0 #f1f1f1;
    margin-bottom: 40px;
}
#tab-google-analytics .report-chart-header {
    background: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 2px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    color: #777;
}

#tab-google-analytics tr:nth-child(2n+1) {
    background-color: #fff;
}
#tab-google-analytics tr {
    background-color: #fafafa;
}

#tab-google-analytics table td, #tab-google-analytics table td {
    border: 1px solid #e7e7e7;
    color: #777;
    padding: 7px 10px;
}
#tab-google-analytics .chart-block {
    background-color: #fff;
    border-color:#e7e7e7;
    border-style: none solid solid;
    border-width: 1px 1px 2px;
    padding: 10px;
}
#tab-google-analytics.app-tab-container {
    height: 100%;
    padding: 20px;
}
#tab-google-analytics .left-tab-view-toolbar {
    font-size: 0;
}
#tab-google-analytics .left-tab-view-toolbar * {
    font-size: 14px;
}
#tab-google-analytics .left-tab-view-toolbar > * {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 0;
    vertical-align: middle;
}
#tab-google-analytics .left-tab-view-toolbar .btn {
    padding: 3px 12px;
}
#tab-google-analytics .left-tab-view-toolbar .btn {
    padding: 3px 12px;
}
#tab-google-analytics .left-tab-view-toolbar label {
    margin-right: 5px;
    font-size: 16px;
}

