/out
*.iml
/.idea
/target
.project
.classpath
/plugin.xml
/grails-app/i18n/*.properties
/web-app/js/i18n/*.properties
!/web-app/js/i18n/messages.properties
!/grails-app/i18n/messages.properties
!/web-app/js/i18n/messages_en.properties
!/web-app/js/i18n/messages_en-US.properties
