body.widget-snippet {
    padding: 40px;
}
.snippet-horizontal-button .col-sm-6:first-child {
    font-size: 0;
    text-align: right;
}
.snippet-horizontal-button a.snippet-btn-block,
.snippet-horizontal-button a.snippet-btn-block:link,
.snippet-horizontal-button a.snippet-btn-block:active
.snippet-horizontal-button a.snippet-btn-block:visited {
    border: 2px solid #1b9ab4;
    color: #444444;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
    max-width: 300px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
}
.snippet-horizontal-button a.snippet-btn-block:hover {
    background-color: #1b9ab4;
    border: 2px solid #1b9ab4;
    color: #fff;
}