body.widget-snippet {
    padding: 40px;
}
.footer-contact-info p, .footer-contact-info a {
    color: #555555;
    font-size: 14px;
    padding: 0;
    text-decoration: none;
}
.footer-contact-info label {
    color: #000;
    display: inline-block;
    margin-right: 8px;
}