body.widget-snippet {
    padding: 40px;
}
body.widget-snippet .snippet-social-medias a {
    padding: 10px;
}
.snippet-social-medias a {
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
    text-align: center;
}
.snippet-social-medias a i {
    color: #959595;
}
.snippet-social-medias a:hover i {
    color: #000;
}