body.widget-snippet {
    padding: 40px;
}
.snippet-shipping-support .col-sm-4 {
    padding: 15px;
}
.snippet-shipping-support .box.support {
    background-color: #fee6e6;
}
.snippet-shipping-support .box.shipping {
    background-color: #e2f3fa;
}
.snippet-shipping-support .box.cashback {
    background-color: #e6e2f9;
}
.snippet-shipping-support .box {
    background-size: cover;
    padding: 10px;
}
.snippet-shipping-support .box-container {
    border: 3px solid #fff;
    padding: 18px 20px;
}
.snippet-shipping-support .wrap {
    padding: 0 0 0 60px;
    position: relative;
    width: 100%;
}
.snippet-shipping-support i {
    color: #e14344;
    font-size: 36px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.snippet-shipping-support h3 {
    color: #222222;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snippet-shipping-support p {
    color: #888;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}