.review-form .form-row label {
    width : 120px;
}
.review-form textarea {
    height : 150px;
    width  : 300px;
}
.review-row .rating {
    display : inline-block;
}
.review-form .btn-row {
    padding-left : 124px;
}
.review-container {
    background-color : #F9F9F9;
    border-bottom    : 2px solid #E6E6E6;
    margin-bottom    : 20px;
    padding          : 15px;
}
.review-container .review-description {
    overflow: auto;
}
.single-review-block {
    border-bottom  : 1px solid #EEEEEE;
    margin-bottom  : 15px;
    padding-bottom : 15px;
}
.review-rating.read-only > img {
    vertical-align : middle;
}
.review-panel .write-review-panel {
    padding : 10px 0;
}
.write-review-panel .message-container a {
    color: #FF9000;
}
.write-review-panel .message-container a:hover {
    color: #FBBA65;
}
