/*theam_sb*/
.tab-header.live-chat .icon,
.menu-item.live-chat .icon {
    background-image : url("../../images/admin/16-live-chat.png");
}
.tool-group .toolbar-item.add-filter-tool i {
    background-position : -48px 0;
}
.tool-group .toolbar-item.remove-filter-tool i {
    background-position : -64px 0;
}
.tool-group .toolbar-item.deactivate i,
.tool-group .toolbar-item.activate i {
    background-image : url("../../images/admin/live-chat-toolbar-icon.png");
    background-repeat: no-repeat;
}
.dashlet-ribbon.live-chat .icon {
    background-image    : url("../../images/admin/live-chat-ribbon-icon.png");
    background-repeat: no-repeat;
}
/*theam_sb end*/
.dashlet-ribbon.live-chat .icon {
    background-position: 0 0;
}

.tab-header.live-chat .icon,
.menu-item.live-chat .icon {
    background-position: 0 0;
}

.tool-group .toolbar-item.deactivate i {
    background-position: 0 0;
}
.tool-group .toolbar-item.activate i {
    background-position: -16px 0;
}

.menu-item.live-chat .icon {
    background-position: 0 0;
}
.menu-item.live-chat .icon {
    background-position: 0 0;
}

.liveChat .widget-logo {
    background-image    : url("../../images/admin/live-chat.png");
    background-repeat: no-repeat;
    background-position : 0 0;
}
.status-block.live-chat {
    height: 20px;
    margin-left: 10px;
}
.status-block.live-chat.orphan-chat {
    background: aquamarine;
}
.status-block.live-chat.agent-chat {
    background: #009900;
}
.status-block.live-chat.transfer-request {
    background: #ffff00;
}
.chat-window .message-block {
    padding-bottom: 25px;
}
.chat-window .message-block .name {
    color: #1199c4;
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 8px 0 0;
    text-align: right;
    width: 250px;
}
.chat-window .message-block.agent .name {
    float: right;
    text-align: left;
    color: #333;
}
.chat-window .chat-box textarea {
    border: 1px solid #d3dbdf;
    border-radius: 3px;
    color: #666666;
    margin: 0 300px 20px;
    min-height: 100px;
    padding: 4px 10px;
    width: calc(100% - 600px);
}
.chat-message-form {
    padding-top: 25px;
}
.chat-window .chat-button-line {
    font-size: 0;
    text-align: center;
}
.chat-window .chat-button-line button {
    font-size: 14px;
    margin-left: 10px;
    height: 40px;
}
.chat-window .chat-button-line button[disabled] {
    background: #b0b0b0;
    color: #878585;
    text-shadow: 1px 1px 1px #cfcfcf;
}
.chat-window .message-block .time {
    color: #999;
    margin-right: 10px;
    float: left;
}
.chat-window .message-block .message-wrap {
    background: none repeat scroll 0 0 #f0f3f4;
    border: 1px solid #f0f3f4;
    border-radius: 3px;
    color: #444;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0 280px;
    padding: 15px 20px;
    position: relative;
}
.chat-window .message-block.agent .message-wrap .message {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.chat-window .message-block.customer .message-wrap {
    margin-right: 200px;
}
.chat-window .message-block.agent .message-wrap {
    background: none repeat scroll 0 0 #fafafa;
    color: #576265;
    margin-left: 200px;
}
.chat-window .message-block .message-wrap:after {
    border-color: transparent #F0F3F4 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    content: "";
    display: inline-block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 11px;
    width: 0;
    z-index: 10;
}
.chat-window .message-block.agent .message-wrap:after {
    border-color: transparent transparent transparent #dce0e1;
    border-width: 8px 0 8px 8px;
    left: inherit;
    right: -8px;
}
.chat-window .message-block .message-wrap:before {
    border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    content: "";
    display: inline-block;
    height: 0;
    left: -9px;
    position: absolute;
    right: inherit;
    top: 10px;
    width: 0;
}
.chat-window .message-block.agent .message-wrap:before {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
    border-width: 9px 0 9px 9px;
    left: inherit;
    right: -9px;
}
.chat-window .message-block .time {
    color: #999;
    font-size: 10px;
    font-style: italic;
    left: -130px;
    position: absolute;
    text-align: right;
    top: 30px;
    width: 100px;
}
.chat-window .message-block.agent .time {
    left: inherit;
    margin: 0;
    right: -130px;
    text-align: left;
}
.chat-window .message a {
    color: #4086c7;
}
.chat-window .message a:hover {
    color: #9bcaf5;
}
.chat-window .message-block .notification {
    background-color: #fffcd8;
    border: 1px solid #fbd896;
    border-radius: 3px;
    color: #745e32;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 280px;
    max-width: inherit;
    padding: 8px;
    text-align: center;
}
.chat-window .tag-selector {
    min-width: 103px;
}

.chat-window .chat-button-line .chosen-container {
}
.chat-window .chat-button-line .chosen-container ul {
}
.chat-window .chat-button-line .chosen-container ul li {
}
.chat-window .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
}
#status-bar .status-block.live-chat.orphan-chat,
#status-bar .status-block.live-chat.has-new-message{
    background: #f78a00; /
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3OGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y2YWM0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNzhhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f78a00 0%, #f6ac48 50%, #f78a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f78a00), color-stop(50%,#f6ac48), color-stop(100%,#f78a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f78a00 0%,#f6ac48 50%,#f78a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f78a00 0%,#f6ac48 50%,#f78a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f78a00 0%,#f6ac48 50%,#f78a00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f78a00 0%,#f6ac48 50%,#f78a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78a00', endColorstr='#f78a00',GradientType=0 ); /* IE6-8 */
    color: #fff;

}
#status-bar .status-block.orphan-chat.live-chat:hover,
#status-bar .status-block.live-chat.has-new-message:hover{
    background: #fda332;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYTMzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiYzA3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGEzMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fda332 0%, #fbc071 50%, #fda332 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fda332), color-stop(50%,#fbc071), color-stop(100%,#fda332)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fda332 0%,#fbc071 50%,#fda332 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fda332 0%,#fbc071 50%,#fda332 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fda332 0%,#fbc071 50%,#fda332 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fda332 0%,#fbc071 50%,#fda332 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda332', endColorstr='#fda332',GradientType=0 ); /* IE6-8 */
}
.ie9 #status-bar .status-block.live-chat.orphan-chat,
.ie9 #status-bar .status-block.live-chat.has-new-message {
    filter: none;
}
#status-bar .status-block.live-chat {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d1d2d2;
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    margin: 8px 0 0 4px;
    padding: 5px 15px;
    position: relative;
}
#status-bar .status-block.live-chat:hover {
    background: #DCE0E1;
}
#status-bar .status-block.live-chat.transfer-request {
    background: none repeat scroll 0 0 #48c37f;
    border: 1px solid #329e62;
    color: #fff;
}
#status-bar .status-block.live-chat.transfer-request:hover {
    background: #278752;
}
#status-bar .status-block.live-chat .new-messages {
    display: none;
}
#status-bar .status-block.live-chat.has-new-message .new-messages {
    background-color: #f9b764;
    border: 2px solid #ff7200;
    border-radius: 50%;
    box-shadow: 1px 2px 3px #333;
    font-size: 11px;
    height: 18px;
    overflow: hidden;
    padding-top: 2px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -12px;
    width: 20px;
    display: inline-block;
}
#bmui-tab-chat {
}
#bmui-tab-chat .chat-window {
    height: 100%;
    padding: 20px 20px 0;
}
.chat-window .chat-area {
    border-bottom: 1px solid #e9eef0;
    height: calc(100% - 200px);
    overflow: auto;
    padding: 20px;
}
#tab-live-chat .chat-rating {
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    margin: 0 0 0 15px;
    width: 14px;
}
#tab-live-chat .chat-rating.U {
    background-image: url("../../images/admin/thumbs-rating.png");
    background-position: 0 0;
}
#tab-live-chat .chat-rating.D {
    background-image: url("../../images/admin/thumbs-rating.png");
    background-position: -14px 0;
}
.chat-accept-request-confirm .content {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
.popup .chat-message-container {
    background-color: #fff;
    max-height: 500px;
    max-width: 600px;
    overflow-x: auto;
    padding: 10px;
}
.popup .chat-message-container .info-message {
    border-bottom: 1px solid #eee;
    margin: 15px 0 0;
    padding: 0 0 15px;
}
.popup .chat-message-container .info-message:first-child {
    margin-top: 0;
}
.popup .chat-message-container .info-message .name {
    color: #555;
    font-weight: bold;
}
.popup .chat-message-container .info-message .message-wrap .date {
    color: #999;
    font-size: 12px;
}
.popup .chat-message-container .info-message .message-wrap .message {
    color: #555;
    overflow: hidden;
    padding-top: 5px;
}
.popup .chat-message-container .info-message .notification {
    background: none repeat scroll 0 0 #faf7c7;
    border: 1px solid #fff0aa;
    display: block;
}
.popup .chat-message-container .info-message.customer .name {
    color: #1199C4;
    font-weight: bold;
}
.no-active-chat {
    padding-top: 100px;
    text-align: center;
}
.no-active-chat .message {
    color: #ccc;
    font-size: 50px;
    font-weight: bold;
}
.popup .chat-message-container .info-message .notification {
    min-width: 100px;
}
#tab-live-chat .table-view .name-column {
    width: 10%;
}
#tab-live-chat .table-view .email-column {
    width: 20%;
}
#tab-live-chat .table-view .phone-column {
    width: 10%;
}
#tab-live-chat .table-view .rating-column {
    width: 100px;
}
