body.widget-snippet {
    padding: 40px;
}
.snippet-footer-contact div {
    margin: 5px 0;
    overflow: hidden;
}
.snippet-footer-contact i {
    color: #666;
    float: left;
    font-size: 18px;
    margin: 2px 15px 10px 0;
    min-height: 15px;
    min-width: 15px;
    text-align: left;
}
.snippet-footer-contact a,
.snippet-footer-contact span {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}