body.widget-snippet {
    padding: 40px;
}
.snippet-contact-roundicon p {
    margin: 15px 0;
    min-height: 35px;
    padding: 0 0 0 50px;
    position: relative;
}
.snippet-contact-roundicon .icon-wrap {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    left: 0;
    margin: 0;
    padding: 3px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 35px;
}
.snippet-contact-roundicon span,
 .snippet-contact-roundicon a {
     color: #666;
}
.snippet-contact-roundicon .icon-wrap i {
    color: #666;
    font-size: 14px;
}