body.widget-snippet {
    padding: 40px;
}
body.widget-snippet .snippet-offers-box .container {
    padding: 15px;
}
.snippet-offers-box .row {
    margin-left: -10px;
    margin-right: -10px;
}
.snippet-offers-box .row [class*="col-"] {
    padding: 10px;
}
div.snippet-offers-box .row .col-sm-8 {
    padding-bottom: 0;
    padding-top: 0;
}
.snippet-offers-box .row .col-sm-8 .col-sm-6 img {
    max-height: 187px;
}
.snippet-offers-box .row .col-sm-8 .col-sm-12 img {
    max-height: 201px;
}
.snippet-offers-box a {
    background-color: #000;
    display: block;
}
.snippet-offers-box img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.snippet-offers-box a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}