body.widget-snippet {
    padding: 40px;
}
.snippet-image-left-text-right h1 {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
.snippet-image-left-text-right img {
    padding-right: 16px;
}
@media (max-width:991px ) {
    .snippet-image-left-text-right img {
        padding-bottom: 30px;
        padding-right: 0;
    }
}
@media (max-width:767px ) {
    .snippet-image-left-text-right img {
        padding-bottom: 15px;
    }

}