body.widget-snippet {
    background-color: #222222;
    padding:40px;
}
body.widget-snippet .social-media-footer ul li[data-cloneable="true"] {
    padding: 7px;
}
body.widget-snippet .widget-snippet .social-media-footer .social-links li a:hover i{
    color: #9c9c9c;
}

.widget-snippet .social-media-footer ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.widget-snippet .social-media-footer .social-links li a,
.widget-snippet .social-media-footer .social-links li a:focus {
    display: inline-block;
    font-size: 18px;
    height: auto;
    line-height: normal;
    margin: 0 4px;
    outline: medium none;
    text-align: center;
    transition: all 300ms ease-out 0s;
    width: 30px;
}
.widget-snippet .social-media-footer .social-links li:first-child a {
    margin-left: 0;
}
.widget-snippet .social-media-footer .social-links li:last-child a {
    margin-right: 0;
}
.widget-snippet .social-media-footer .social-links li a i {
    color: #9c9c9c;
}
.widget-snippet .social-media-footer .social-links li a:hover i{
    color: #ffb83f;
}

@media (max-width:767px) {
    .social-media-footer {
        margin: 0 auto;
        text-align: center;
    }
}
