body.widget-snippet {
        padding: 40px;
    }
.snippet-about-us .container.container-1400 .col-md-7 {
  padding-right: 50px;
}
.snippet-about-us .html-container h1 {
 font-family: "Poppins",sans-serif;
  font-size: 32px;
 color: #1c1c1c;   
font-weight: 500;
  margin-bottom: 25px;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
}
    .snippet-about-us .html-container h1::after {
        background: #ffb83f none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 35px;
    }
    .snippet-about-us .html-container p {
        color: #818182;
        font-family: "Poppins",sans-serif;
        line-height: 26px;
    }
    .snippet-about-us .red-more-wrap {
        margin: 30px 0 0;
    }
    body.widget-snippet .snippet-about-us .red-more-wrap {
        padding: 7px;
        margin-left: -7px;
    }
.widget-snippet .snippet-about-us .red-more-wrap a {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
    .widget-snippet .snippet-about-us .red-more-wrap a:hover {
        color: #ffb83f;
        text-decoration: none;
    }
.widget-snippet .snippet-about-us .red-more-wrap a::after {
  content: "\f178 ";
  font-family: "FontAwesome";
  margin-left: 7px;
  vertical-align: middle;
}

@media (max-width: 1200px) {
.snippet-about-us .container.container-1400 .col-md-7 {
  padding-right: 15px;
}
}
    @media (max-width: 991px) {
        .snippet-about-us .col-md-7 {
            padding-bottom: 20px;
        }
    }
    @media (max-width: 767px) {
.snippet-about-us .html-container h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
}