body.widget-snippet{
        padding:40px;
        background: #f5f5f5 none repeat scroll 0 0;
    }
    .widget-snippet.full-width {
        background: #e7e7e7  none repeat scroll 0 0;
        padding: 80px 0 60px;
    }
    .wc-snippet-feature .contact-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .wc-snippet-feature .col-md-8.col-md-offset-2 > h3 {
        color: ##1c1c1c;
        display: inline-block;
        font-weight: 500;
        font-family: "Poppins",sans-serif;
        font-size: 32px;
        line-height: 37px;
        text-transform: capitalize;
    }
.wc-snippet-feature .col-md-8.col-md-offset-2 > p {
  color: #999999;
 font-family: "Poppins",sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
}
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 > a,
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 > p {
        color: #525252;
        font-family: "Poppins",sans-serif;
        font-size: 14px;
        text-transform: capitalize;
    }
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 a {
        color: #525252;
        font-family: "Poppins",sans-serif;
        font-size: 14px;
        text-decoration: none;
    }
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 a:hover,
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 > a:hover {
        color: #ffb83f ;
    }
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 > li {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: inline-block;
        line-height: 22px;
        padding: 0;
    }
    .wc-snippet-feature .img-holder {
        background: rgba(0, 0, 0, 0) url("/template/6c28cc7a/images/snippet-images/contact.png") no-repeat scroll center center / cover ;
        height: 75px;
        margin: 0 auto 15px;
        text-align: center;
        width: 65px;
    }
    .wc-snippet-feature .img-holder > img {
        left: 0;
        margin: 0 auto;
        max-height: 30px;
        max-width: 30px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 23px;
    }
.wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 > h5 {
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
}
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 > p {
        color: #525252;
        font-family: "Poppins",sans-serif;
        font-size: 14px;
        margin: 0;
        text-transform: capitalize;
    }
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2:nth-child(4n+1) {
        border-left: medium none;
    }
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 {
        border-left: 1px solid #e0e3e3;
        margin: 20px auto;
        padding: 0 26px;
        text-align: center;
    }
    .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2:nth-child(4n+1) {
        clear: left;
    }
    @media (max-width:1200px) {
        .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2 {
            padding: 0 15px;
        }
    }
    @media (max-width:991px) {
        .widget-snippet.full-width {
            background: #f5f5f5 none repeat scroll 0 0;
            padding: 40px 0 40px;
        }
        .wc-snippet-feature .col-md-3.col-sm-6.features-box-style2:nth-child(2n+1) {
            clear: left;
            border-left: none;
        }

    }
    @media (max-width:767px) {
        .wc-snippet-feature .contact-title {
            margin-bottom: 0;
        }
        .widget-snippet.full-width {
            padding: 30px 0;
        }
    }