.product-view.image-view .price-n-cart .add-to-compare-button,
.product-view.image-view .price-n-cart .remove-from-compare-button,
.product-view.scrollable-view .price-n-cart .add-to-compare-button,
.product-view.scrollable-view .price-n-cart .remove-from-compare-button,
.product-view.list-view td.product-price .add-to-compare-button,
.product-view.list-view td.product-price .remove-from-compare-button {
    margin-top : 5px;
}

.product-view.image-view .price-n-cart .remove-from-compare-button,
.product-view.scrollable-view .price-n-cart .remove-from-compare-button,
.product-view.list-view td.product-price .remove-from-compare-button {
    background-image: none;
    background-color: #ff9000;
    color: #fff;
}
/*widget design*/
.widget-compareProduct .compare-quantity {
    border: 1px solid #CCCCCC;
    font-size: 18px;
    padding: 5px;
}
.compare-item-container {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
.compare-item-container .row {
    border-bottom: 1px dashed #cccccc;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
}
.widget-compareProduct .row.btn-row {
    margin: 10px 0 0;
}
.widget-compareProduct .product-name {
    font-size: 14px;
}
.widget-compareProduct .close-icon {
    background: url("../../images/site/compare-product-item-close-icon.png") no-repeat left top;
    overflow: hidden;
    text-indent: -200px;
    cursor: pointer;
    float: right;
    height: 22px;
    width: 22px;
}
.widget-compareProduct .compare-btn.button {
    float: right;
}
/*popup design*/
.add-to-compare-popup table {
    width: auto;
}
.add-to-compare-popup table .product-img {
    padding-right: 20px;
}
.add-to-compare-popup table .product-name {
    font-size: 16px;
}
.add-to-compare-popup table .product-description {
    padding: 5px 0;
}
.add-to-compare-popup table .product-price {
    font-size: 15px;
}

/*compare detais page design*/
.compare-details table td,
.compare-details table th {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
.compare-details table th {
    width: 10%;
}
.compare-details table .image-row td {
    text-align: center;
}
.compare-details table .image {
    display: inline-block;
}
.compare-details table td .remove {
    background: url("../../images/site/compare-product-item-close-icon2.png") no-repeat left center;
    padding-left: 14px;
    cursor: pointer;
}
.compare-details table td .remove:hover {
    color: #ff0000;
}

