body.widget-snippet {
    padding: 40px;
}
.snippet-three-colomn-image .col-sm-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.snippet-three-colomn-image .col-sm-4:nth-child(3n+1) {
    clear: left;
}
@media (max-width: 767px) {
    .snippet-three-colomn-image .col-sm-4:not(:last-child) {
        padding-bottom: 0;
    }
}