.tab-header.general-event .icon,
.menu-item.calendar .icon,
.menu-item.venue .icon,
.menu-item.equipment .icon,
.menu-item.general-event .icon {
    background-image : url("../../images/admin/16-general-event.png");
}
.tab-header.event .icon,
.menu-item.event .icon {
    background-position: 0 0;
}

.generalEvent .widget-logo {
    background-image    : url("../../images/admin/event-management.png");
    background-repeat: no-repeat;
    background-position : 0 0;
}
.dashlet-ribbon.general-event .icon {
    background-image    : url("../../images/admin/event-ribbon-icon.png");
    background-repeat: no-repeat;
    background-position : 0 0;
}

.dashlet-ribbon.event .icon {
    background-position: 0 0;
}

.menu-item.calendar .icon {
    background-position: -16px 0;
}
.menu-item.venue .icon {
    background-position: -32px 0;
}
.menu-item.equipment .icon {
    background-position: -48px 0;
}
.section-seat-view.app-tab-container .app-tab-content-container {
    background-color: #fff;
    padding: 20px;
}
#tab-event .child-selector {
    margin-left: 10px;
}
.calendar td {
    vertical-align : top;
}
.calendar td span.date {
    display    : inline-block;
    text-align : right;
    width      : 100%;
}
.calendar .event {
    position : absolute;
}
.calendar .event .event-title {
    padding-left : 2px;
}
.calendar .event .time {
    font-weight : 900;
}
.calendar .event.single-day {
    background-color : #FFDBDB;
}
.calendar .event.single-day .event-title {
    color : #794100;
}
.calendar .event.multiple-day {
    background-color : #005689;
    text-align       : center;
}
.calendar .event.multiple-day .event-title {
    color : #FFFFFF;
}
.calendar .event.start-point {
    border-radius : 5px 0 0 5px;
}
.calendar .event.end-point {
    border-radius : 0 5px 5px 0;
}
.calendar .event.day-view {
    background-color : #005689;
    text-align       : center;
}
.calendar .event.day-view .event-title {
    color : #FFFFFF;
}
.calendar .event.day-view .time {
    color : #FFFFFF;
}
.section-seat-view .seat-row {
    white-space: nowrap;
}
.section-seat-view .seat-row span {
    display: inline-block;
    height: 45px;
    vertical-align: top;
    width: 45px;
}
.section-seat-view .seat-row span.pathway {
    color: #1199c4;
    font-size: 20px;
    line-height: 42px;
    margin: -1px;
    padding-top: 0;
    text-align: center;
}
.section-seat-view .seat-row span.booked {
    opacity : 0.15;
    filter  : alpha(opacity=15);
}
.image-preview-box {
    height : 350px;
    width  : 350px;
}
.event-session {
    max-height : 100px;
    max-width  : 500px;
    border     : 1px outset #3A87AD;
}
.calendar-type-wrap {
    margin-bottom : 10px;
}
.calendar-type.link {
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #7b8385;
    display: inline-block;
    font-style: normal;
    height: 28px;
    line-height: 26px;
    padding: 0 15px;
    text-decoration: none;
}
.calendar-type.link:hover, .calendar-type.link.active {
    background-color : #1198c5;
    border-color     : #1083a9;
    color            : #fff;
}
.section-seat-view {
    padding-bottom: 20px;
}
.calendar-type-wrap > span {
    vertical-align : middle;
}
.calendar-type-wrap .selector {
    padding-left: 5px;
}
.calendar-type-wrap .selector .error {
    color : #FF0000;
}
.section-seat-view .seat-name {
    margin-bottom : 5px;
    margin-top    : 5px;
}
.section-seat-view .body {
    background-color : rgb(255, 255, 255);
    padding          : 10px;
}
.section-seat-view .seat {
    background : url("../../images/admin/seat-icon.png") no-repeat 6px 6px;
    border     : 3px solid #e2e9e9;
    margin     : -1px;
}
.venue-table.table-view table .select-column {
    width: 50px;
}
.venue-table.table-view table .actions-column {
    width: 90px;
}
.section-seat-view .header .toolbar > * {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.event-tab.table-view .select-column {
    width: 50px;
}
.event-tab.table-view .actions-column {
    width: 90px;
}
#tab-general-event .two-panel-resizable.without-resize-bar .left-panel {
    position : relative;
}
.venue-navigation {
    bottom    : 20px;
    font-size : 0;
    left      : 20px;
    position  : absolute;
    right     : 20px;
}
.venue-navigation * {
    font-size : 14px;
}
.venue-navigation .navigation-button {
    background : none repeat scroll 0 0 #FFFFFF;
    display    : inline-block;
    padding    : 20px 0;
    width      : calc(50% - 3px);
    text-align : center;
    cursor     : pointer;
}
.venue-navigation .navigation-button.location-button {
    margin     : 0 0 5px;
    padding    : 20px 0 20px 84px;
    text-align : left;
    width      : 100%;
}
.venue-navigation .location-button.navigation-button > * {
    vertical-align : middle;
}
.venue-navigation .location-button.navigation-button .button-text {
    display     : inline-block;
    line-height : 50px;
    margin      : 0 0 0 15px;
}
.venue-navigation .navigation-button.sitmap-button {
    margin-left : 5px;
}
.venue-navigation .navigation-button .icon {
    background-image  : url("../../images/admin/event-navigation.png");
    background-repeat : no-repeat;
    display           : inline-block;
    height            : 50px;
    width             : 50px;
    vertical-align: middle;
}
.venue-navigation .navigation-button.location-button .icon {
    background-position : 0 0;
}
.venue-navigation .navigation-button.section-button .icon {
    background-position : -50px 0;
}
.venue-navigation .navigation-button.sitmap-button .icon {
    background-position : -100px 0;
}
.venue-navigation .navigation-button .button-text {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
}
.dragable-item-container .left-column .tool-icon.add {
    left: 12px;
    position: absolute;
    top: 6px;
}
.location-item-container {
    background-color: #fff;
    border: 1px solid #f0f0f0;
}
.item-row.location-row {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
}
.location-row .left-column {
    flex: 1 1 0;
    padding: 10px;
}
.location-row .right-column {
    background-color: #f7f9f8;
    display: flex;
    flex: 2 1 0;
    padding: 7px;
}
.location-row .right-column .row {
    background-color: #fff;
    flex: 1 1 0;
    padding: 10px 50px 10px 10px;
    position: relative;
}
.location-row .right-column .row .actions-column {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.location-row .left-column .wrap {
    color: #1199c4;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 0;
}
.form-row.row-inside .row {
    border: 5px solid #f0f0f0;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
}

.form-row.row-inside .row .remove-column {
    float: right;
}
.blocklist-item.new-item input.item-title {
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    text-transform: none;
    width: 200px;
}
.venue-left-panel .float-tooliconbar {
    left: auto;
    right: 0;
    top: 50px;
}
@media (max-height : 767px) {
    .scrollable-blocktype-list .blocklist-item {
        padding : 10px 0;
    }
    .venue-navigation .navigation-button {
        padding : 10px 0;
    }
    .venue-navigation .navigation-button.location-button {
        padding : 10px 0 10px 84px;
    }
    .modern-list-left-panel .float-tooliconbar {
        top : 17px;
    }
    #workspace .modern-list-left-panel .scrollable-blocktype-list .item-thumb .errorlist {
        right : 45px;
        top   : 0;
    }

}
