/*theam_sb*/
.tab-header.visitor-listing .icon,
.menu-item.visitor-listing .icon {
    background-image : url("../../images/admin/16-visitor-listing.png");
}
.dashlet-ribbon.visitor-listing .icon {
    background-image    : url("../../images/admin/visitor-listing-ribbon-icon.png");
    background-repeat: no-repeat;
}

/*theam_sb end*/
.dashlet-ribbon.visitor-listing .icon {
    background-position: 0 0;
}

.tab-header.visitor-listing .icon,
.menu-item.visitor-listing .icon {
    background-position: 0 0;
}