body.widget-snippet {
    padding: 40px;
}
.snippet-features-more .col-md-3 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}
.snippet-features-more i {
    color: #999;
    font-size: 40px;
    margin-bottom: 20px;
}
.snippet-features-more h5 {
    color: #555;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snippet-features-more .separator-line {
    background-color: #ccc;
    height: 2px;
    margin: 15px auto;
    width: 70px;
}
.snippet-features-more p {
    color: #555;
    font-size: 14px;
    height: 55px;
    line-height: 26px;
    margin: 15px 0;
    overflow: hidden;
    padding: 0;
}
.snippet-features-more a {
    border: 2px solid #999;
    color: #555;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 20px;
}
.snippet-features-more a:hover {
    background-color: #000 !important;
    border: 2px solid #000 !important;
    color: #fff !important;
}