body.widget-snippet {
    padding: 40px;
}
.snippet-phone i {
    color: #666;
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
}
.snippet-phone a {
    color: #333;
    font-size: 14px;
}
.snippet-phone a:hover {
    color: #999;
    text-decoration: none;
}