/****************Front end css************/
.gift-certificate-code-panel {
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: 5px 0;
    padding: 69px;
}

.gift-certificate-code-panel label {
    margin-right: 10px;
}

.gift-certificate-code-panel input {
    margin: 0 5px 0 0;
}

.gift-certificate-code-panel .button {
    display: inline;
    padding: 3px 10px;
    vertical-align: middle;
}

/* Gift Card */
#customer-profile-tabs .gift-card-short-info .check-panel .form-row {
    margin: 0;
    position: relative;
}

#customer-profile-tabs .gift-card-short-info .check-panel .errorlist {
    position: absolute;
    bottom: -20px;
}

#customer-profile-tabs .gift-card-short-info .gift-card-code {
    border: 1px solid #d3dbde;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    color: #000000;
    width: 250px;
    height: 40px;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
}

#customer-profile-tabs .gift-card-short-info .title {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    width: auto;
}

#customer-profile-tabs .gift-card-short-info .short-info {
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 600;
}

#bmui-tab-gift-card .gift-card-short-info .button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #4D4D4D;
    background-image: none;
    color: #ffffff;
    float: none;
    font-size: 14px;
    padding: 10px 20px;
    height: 40px;
    line-height: normal;
}

#customer-profile-tabs .gift-card-short-info .check-balance {
    margin-left: 10px;
}

#customer-profile-tabs .gift-card-short-info .check-panel,
#customer-profile-tabs .gift-card-short-info .card-details {
    margin-bottom: 40px;
}

#customer-profile-tabs .gift-card-short-info .check-panel {
    padding-bottom: 30px;
    border-bottom: 1px solid #e6ecec;
}

#customer-profile-tabs .gift-card-short-info .check-panel .tool-tip {
    color: transparent;
    cursor: pointer;
    font-size: 0.01px;
    margin-left: 10px;
}

#customer-profile-tabs .gift-card-short-info .check-panel .tool-tip:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '\f129';
    color: #7e8e8e;
    font-family: FontAwesome;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #7e8e8e;
    line-height: 15px;
    width: 14px;
    height: 14px;
    text-align: center;
}

#customer-profile-tabs .gift-card-short-info .check-panel .title {
    font-weight: 600;
    margin-bottom: 20px;
}

#customer-profile-tabs .gift-card-short-info .balance-section,
#customer-profile-tabs .gift-card-short-info .expiry-section {
    margin-bottom: 30px;
}

#customer-profile-tabs .gift-card-short-info .balance-section .balance {
    font-size: 20px;
    font-weight: 600;
}

#customer-profile-tabs .gift-card-short-info .expiry-section .balance {
    color: #000000;
}

#customer-profile-tabs .gift-card-short-info .table-head .title {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

#bmui-tab-gift-card .gift-card-short-info .usage-details {
    margin-bottom: 30px;
}

#bmui-tab-gift-card .gift-card-short-info .usage-details tr {
    border-bottom: 1px solid #e9eeef;
}

#bmui-tab-gift-card .gift-card-short-info .usage-details th,
#bmui-tab-gift-card .gift-card-short-info .usage-details td {
    border: none;
    padding: 12px 0;
}

#bmui-tab-gift-card .gift-card-short-info .usage-details th {
    background: none;
    color: #aaa;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
}

#bmui-tab-gift-card .gift-card-short-info .usage-details td {
    color: #000;
}

.gift-card-tool-tip {
    background-color: #fff;
    padding: 30px;
}

.gift-card-tool-tip .title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
}

.gift-card-tool-tip .text {
    font-size: 13px;
    color: #999;
    line-height: 20px;
    display: block;
    margin-bottom: 15px;
}

.gift-card-tool-tip .code {
    border: 1px solid #dde5e5;
    border-radius: 3px;
    display: block;
    text-align: center;
    padding: 10px;
}

/* Recipient Details */
.gift-card-fields .form-content .form-row > label {
    display: block;
    width: auto;
    margin-bottom: 5px;
}