body.widget-snippet {
        padding: 40px;
    }
 .snippet-team .col-md-8 {
        text-align: center;
    }
.snippet-team h1 {
  color: #222222;
 font-family: "Poppins",sans-serif;
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: 500;
  padding-bottom: 15px;
  position: relative;
  text-transform: capitalize;
}
    .snippet-team h1::after {
        background-color: #ffb83f ;
        bottom: 0;
        content: "";
        height: 3px;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 35px;
    }
    .snippet-team p {
        color: #818181;
       font-family: "Poppins",sans-serif;
        line-height: 26px;
        margin-bottom: 14px;
    }
    .snippet-team .col-md-3 {
       font-family: "Poppins",sans-serif;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }
    .snippet-team .col-md-3:nth-child(4n+1) {
        clear: left;
    }
.snippet-team .name {
  color: #172029;
 font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0 5px;
}
    .snippet-team .rank {
        color: #666;
        font-size: 14px;
      font-family: "Poppins",sans-serif;;
        font-weight: 400;
    }
    .snippet-team .image-wrap {
        overflow: hidden;
        text-align: center;
    }
    .snippet-team .image-wrap img {
        max-width: 100%;
    }
    @media (max-width: 991px) {
        .snippet-team .col-md-3:nth-child(2n+1) {
            clear: left;
        }
    }
    @media (max-width: 767px) {
.snippet-team h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
}