.live-chat-popup {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    bottom: 0;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -o-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    position: fixed;
    right: 50px;
    width: 320px;
}
.ie8 .live-chat-popup {
    border: 1px #e6e6e6 solid;
}
.live-chat-popup .header{
    background-color: #3f85c6;
    border-radius: 5px 5px 0 0;
    color: #fff;
    overflow: hidden;
    padding: 3px 10px 6px;
    height: 36px;
}

.live-chat-popup .header .title {
    background:url("../../images/site/chat-icon.png") no-repeat left 3px;
    padding: 0 0 0 36px;
    float: left;
    font-size:18px;
    line-height: 27px;
    margin-top: 3px;
}
.live-chat-popup .header .btn {
    cursor: pointer;
    float: right;
    height: 18px;
    margin-left: 5px;
    margin-top: 9px;
    width: 19px;
}
.live-chat-popup .header .btn.close {
    background:url("../../images/site/chat-popup-close.png") no-repeat right center;
}
.live-chat-popup .header .btn.minimize {
    background:url("../../images/site/chat-popup-minimize.png") no-repeat left top;
}
.live-chat-popup .header .btn.maximize {
    background:url("../../images/site/chat-popup-maximize.png") no-repeat left top;
}
.live-chat-popup .content-wrap {
    background-color: #fff;
    width: 100%;
}
.live-chat-popup .content {
    height: 150px;
    margin-bottom: 65px;
    margin-top: 10px;
    overflow: auto;
    padding: 0 10px;
}
.live-chat-popup .message-row {
    border-bottom: 1px solid #dbd9d9;
    margin: 0 0 5px;
    padding: 0 0 5px;
}
.live-chat-popup .sender-time {
    font-size: 13px;
    overflow: hidden;
}
.live-chat-popup .sender {
    float: left;
}
.live-chat-popup .sender.agent {
    color: #19b78d;
}
.live-chat-popup .sender.customer {
    color: #4086c7;
}
.live-chat-popup .time {
    color: #9f9f9f;
    float: right;
}
.live-chat-popup .message {
    color: #9f9f9f;
    font-size: 13px;
    overflow: hidden;
}
.live-chat-popup .button-panel {
    background-color: #e1e5e9;
    overflow: hidden;
    padding: 10px;
}
.live-chat-popup .button-panel span {
    cursor: pointer;
    height: 34px;
}
.live-chat-popup .button-panel span.more-option {
    background:url("../../images/site/chat-more-option.png") no-repeat left top;
    width:57px;
    float: left;
}
.live-chat-popup .button-panel span.thumbs-up {
    background:url("../../images/site/chat-thumbs-up.png") no-repeat left top;
    width:57px;
    float: left;
}
.live-chat-popup .button-panel span.thumbs-up.active {
    background:url("../../images/site/chat-thumbs-up-active.png") no-repeat left top;
}
.live-chat-popup .button-panel span.thumbs-down {
    background:url("../../images/site/chat-thumbs-down.png") no-repeat left top;
    width:57px;
    float: left;
}
.live-chat-popup .button-panel span.thumbs-down.active {
    background:url("../../images/site/chat-thumbs-down-active.png") no-repeat left top;
}
.live-chat-popup .button,
.live-chat-popup button {
    background-image: none;
    background-color: #3f85c6;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
    padding: 0 25px;
    display:inline-block;
    cursor:pointer;
    height: auto;
}
.live-chat-popup .button:hover,
.live-chat-popup button:hover {
    background-color: #56a4ec;
}
.live-chat-popup .button-panel button.send {
    background-color: #3f85c6;
    background-image: none;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 14px;
    height: 35px;
    line-height: 34px;
    padding: 0 25px;
    width: 89px;
}
.live-chat-popup .button-panel button.send:hover {
    background-color: #56a4ec;
}
.live-chat-popup .button-panel button.send[disabled],
.live-chat-popup .button-panel button.send[disabled]:hover,
.live-chat-popup button[disabled],
.live-chat-popup button[disabled]:hover {
    background-color: #ccc;
    border: 1px solid #c4c4c4;
    color: #999;
    text-shadow: 1px 1px 1px #fff;
}
.live-chat-popup .message-pad-wrap {
    background-color: #fff;
    border: 1px solid #65a5e0;
    border-radius: 5px;
    bottom: 66px;
    left: 10px;
    position: absolute;
    right: 10px;
    padding: 5px;

}
.live-chat-popup .message-pad textarea {
    border: medium none;
    color: #555;
    font-size: 14px;
    height: 37px;
    height: 37px;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.live-chat-popup .system-message {
    background-color: #faf7c7;
    border: 1px solid #fff0aa;
    border-radius: 3px;
    color: #666;
    padding: 5px;
    font-size:14px;
    line-height: 18px;
}
.live-chat-popup .system-message.file-transfer {
    overflow: hidden;
}
.live-chat-popup .file-transfer .cancel,
.live-chat-popup .file-transfer .receive {
    background-color: #3f85c6;
    border-radius: 3px;
    color: #fff;
    font-size:12px;
    cursor: pointer;
    float: right;
    height: 22px;
    line-height: 22px;
    margin-left: 3px;
    padding: 0 5px;
}
.live-chat-popup .file-transfer .cancel:hover,
.live-chat-popup .file-transfer .receive:hover {
    background-color: #56a4ec;
}
.live-chat-popup .file-transfer .file-name {
    float: left;
    width: 200px;
    word-break: break-all;
}
.live-chat-popup .action-button-panel {
    bottom: 47px;
    display: none;
    left: 11px;
    position: absolute;
    width: 130px;
}
.live-chat-popup .action-button-panel.expanded {
    display:block;
}

.live-chat-popup .action-button-panel .act-button {
    background-color: #3f85c6;
    border-bottom: 1px solid #4c93d4;
    border-top: 1px solid #2f71ae;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 2px 7px;
}
.live-chat-popup .action-button-panel .act-button:hover {
    background-color: #5499da;
}
.live-chat-popup .action-button-panel .act-button.leave-chat-button {
    border-radius: 5px 5px 0 0;
    border-top: medium none;
}
.live-chat-popup .action-button-panel .act-button.send-file-button {
    border-bottom: none;
}
.live-chat-popup .content.login {
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
}
.live-chat-popup .system-message.login {
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}
.live-chat-popup .content.login label,
.live-chat-popup .content.offline-send-message label {
    color: #555;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    line-height: 19px;
}
.live-chat-popup input,
.live-chat-popup textarea,
.live-chat-popup .uploader-input{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #555;
    display: block;
    font-size: 13px;
    padding: 5px;
    width: 100%;
}
.live-chat-popup input {
    height: auto;
}
.live-chat-popup .offline-send-message textarea {
    height: 58px;
}
.live-chat-popup .content.login input,
.live-chat-popup .content.offline-send-message input,
.live-chat-popup .content.login textarea,
.live-chat-popup .content.offline-send-message textarea {
    margin:3px 0;
}
.live-chat-popup .start-chat {
    background-color: #3f85c6;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    padding: 0 25px;
    text-align: center;
    width: 100%;
    background-image: none;
    height: auto;
    text-shadow: inherit;
}
.live-chat-popup .start-chat:hover {
    background-color: #56a4ec;
}
.live-chat-popup span.required {
    color: #f00;
    font-size: 12px;
    margin-left: 2px;
}
.live-chat-popup .content.offline-send-message{
    height: 425px;
    margin-bottom: 0;
}
.offline-message-success,
.leaveChat-confirm-message {
    color: #555;
    font-size: 14px;
}
.live-chat-popup .content.leave-chat,
.live-chat-popup .content.send-history-mail,
.live-chat-popup .content.send-file {
    text-align: center;
    height: 205px;
}
.leave-chat .button-row {
    font-size: 0;
    padding: 20px 0;
}
.send-history-mail .button-row {
    font-size: 0;
    padding: 10px 0;
}
.leave-chat .button-row span,
.send-history-mail .button-row button {
    margin: 0 3px;
}
.live-chat-popup .content .notification-container {
    position: absolute;
    left: 10px;
    right: 10px;
}
.live-chat-popup .content.offline-send-message .notification-container {
    top: 57px;
}
.live-chat-popup .message-block {
    border-radius: 3px;
}

.chat-helper-popup .uploader {
    position: relative;
}
.live-chat-popup .uploader-input, .live-chat-popup .uploader input{
    position: absolute;
    top: 0;
    left: 0;
}
.live-chat-popup .uploader-input {
    height: 33px;
}
.live-chat-popup .uploader input {
    opacity: 0;
    z-index: 2;
}
.widget-liveChat .help {
    background-color: #3f85c6;
    border-radius: 7px;
    bottom: 60px;
    box-shadow: 0 0 5px #999;
    box-sizing: border-box;
    color: #fff;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.widget-liveChat .help .need-help {
    font-size: 16px;
}
.widget-liveChat .help .icon-bg {
    background: url("../../images/site/live-chat-help-down-arrow.png") no-repeat left top;
    bottom: -13px;
    display: inline-block;
    height: 13px;
    left: 30px;
    position: absolute;
    width: 26px;
}
.widget-liveChat .help .close-help {
    background: url("../../images/site/live-chat-help-close.png") no-repeat left top;
    display: inline-block;
    height: 17px;
    position: absolute;
    right: 9px;
    top: 8px;
    width: 17px;
    cursor: pointer;
}
.live-chat-popup .send-history-mail label,
.live-chat-popup .send-file label {
    color: #555;
    display: inline-block;
    font-size: 14px;
    padding-bottom: 5px;
}
.live-chat-popup .uploader-input .file-name {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
    text-align: left;
}
.live-chat-popup .uploader-input .file-size {
    float: right;
    color: #4086c7;
    text-align: right;
}
.chat-helper-popup .uploader {
    height: 42px;
    position: relative;
}
.live-chat-popup .content.send-file {
    text-align: center;
}
.live-chat-popup .message a {
    color: #4086c7;
}
.live-chat-popup .message a:hover {
    color: #9bcaf5;
}
.live-chat-popup .notification-container {
    position: absolute;
    top: 60px;
    left: 10px;
    right: 10px;
}
.live-chat-popup .notification-container .message-block  {
    background-color: #fff;
    color: #555;
}
.live-chat-popup .notification-container .message-block.success-message  {
    background-color: #eefff2;
    border: 1px #86d78a solid;
}
.live-chat-popup .notification-container .message-block.error-message  {
    background-color: #ffe0e0;
    border: 1px #ff8b8b solid;
}
.widget-liveChat .live-chat-init-button:hover {
    cursor: pointer;
    text-decoration: underline;
}




