body.widget-snippet {
    padding: 40px;
}
.snippet-services-provide .title-style {
    text-align: center;
}
.snippet-services-provide h2 {
    color: #000;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px;
}
.snippet-services-provide .title-style p {
    color: #555;
    font-size: 15px;
    line-height: 26px;
}
.snippet-services-provide .title-bottom-line {
    background-color: #1da0ca;
    height: 1px;
    margin: 25px auto 50px;
    width: 100px;
}
.snippet-services-provide .service {
    padding-bottom: 30px;
}
.snippet-services-provide .img-holder {
    height: 176px;
    overflow: hidden;
}
.snippet-services-provide .img-holder img {
    width: 100%;
}
.snippet-services-provide .service h3 a {
    background-color: #ffbb00;
    display: block;
    font-size: 17px;
    font-weight: 600;
    overflow: hidden;
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snippet-services-provide .service p {
    color: #555555;
    height: 70px;
    line-height: 22px;
    overflow: hidden;
}
.snippet-services-provide a.readmore {
    background-color: #1da0ca;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    padding: 8px 20px;
}
@media screen and (max-width: 767px){
    .snippet-services-provide .img-holder {
        height: auto;
    }
}