#bmui-tab-gift-registry .create-gift-registry {
    margin-top: 10px;
}
.gift-registry-list .action-icon.view-products,
.gift-registry-list .action-icon.status {
    background-image: url("../../images/site/gifty-registry-action-icon.png");
    background-position: 0 0;
}
.gift-registry-list .action-icon.view-products {
    background-position: 0 0;
}
.gift-registry-list .action-icon.status {
    background-position: -16px 0;
}
#customer-profile-tabs .gift-registry-items table .quantity {
    width: 150px;
}
#customer-profile-tabs .gift-registry-items table .action {
    width: 60px;
}