body.widget-snippet {
    padding: 40px;
}
.snippet-featured-services .col-sm-4 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.snippet-featured-services .col-sm-4:nth-child(3n + 1) {
    clear: left;
}
.feature-3 {
    overflow: auto;
}
.feature-3 .left {
    float: left;
    width: 70px;
}
div.widget.widget-snippet i.fa {
    color: #999;
}
.feature-3 .right {
    float: left;
    width: calc(100% - 70px);
}
.widget-snippet .font-weight-600 {
    font-weight: 600;
}
.widget-snippet .snippet-featured-services p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.snippet-featured-services h4 span {
    display: block;
}
