.galleriffic-gallery-wrap ul {
    font-size: 0;
}
.galleriffic-gallery-wrap .thumbs li {
    border: 1px solid #eee;
    display: inline-block;
    list-style: outside none none;
    margin: 5px;
    padding: 3px;
}
.galleriffic-gallery-wrap .thumb {
    display: block;
}
.galleriffic-gallery-wrap .thumb img {
    display: block;
}
.galleriffic-gallery-wrap .galleriffic-content {
    overflow: hidden;
}
.slideshow-container img {
    height: 100%;
    max-width: 100%;
}
.galleriffic-gallery-wrap .slideshow {
    height: 400px;
    position: relative;
}
.galleriffic-gallery-wrap .image-wrapper {
    bottom: 0;
    position: absolute;
    top: 0;
}
.galleriffic-gallery-wrap .image-caption .image-title {
    font-size: 24px;
    padding-bottom: 10px;
}
/*Alternate view*/
.galleriffic-gallery-wrap.alternate-layout .thumbs-container {
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
}
.galleriffic-gallery-wrap.alternate-layout .thumbs-container .pageLink {
    background-color: #999;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 30px;
}
.galleriffic-gallery-wrap.alternate-layout .thumbs-container .pageLink.prev {
    background: url("../../images/site/thumbs-prevs.png") no-repeat center;
    left: 0;
}
.galleriffic-gallery-wrap.alternate-layout .thumbs-container .pageLink.next {
    background: url("../../images/site/thumbs-next.png") no-repeat center;
    right: 0;
}
.galleriffic-gallery-wrap.alternate-layout .thumbs {
    overflow: hidden;
    white-space: nowrap;
}
.galleriffic-gallery-wrap.alternate-layout.thumb-position-top .thumbs-container {
    margin-bottom: 30px;
}
.galleriffic-gallery-wrap.alternate-layout.thumb-position-bottom .thumbs-container {
    margin-top: 30px;
}
/*Caption design*/
.galleriffic-gallery-wrap .caption-container {
    position: relative;
}
.galleriffic-gallery-wrap .image-caption.current {
    position: absolute;
    top: 0;
}
.galleriffic-gallery-wrap.caption-position-top .caption-container,
.galleriffic-gallery-wrap.caption-position-bottom .caption-container {
    display: block;
    height: 100px;
}
.galleriffic-gallery-wrap.caption-position-top .caption-container {
    margin-bottom: 30px;
}
.galleriffic-gallery-wrap.caption-position-bottom .caption-container {
    margin-top: 30px;
}
.galleriffic-gallery-wrap.caption-position-left .caption-container {
    float: left;
    margin-right: 50px;
    width: 30%;
    height: 400px;
}
.galleriffic-gallery-wrap.caption-position-right .slideshow-container {
    float: left;
    margin-right: 50px;
    width: 60%;
}
/*Rollover view*/
.galleriffic-gallery-wrap .thumb-and-content-wrap {
    overflow: hidden;
}
.galleriffic-gallery-wrap.thumb-position-left .thumbs-container {
    float: left;
    margin-right: 50px;
    width: 30%;
}
.galleriffic-gallery-wrap.thumb-position-right .thumbs-container {
    float: left;
    width: 30%;
    margin-left: 50px;
}
.galleriffic-gallery-wrap.thumb-position-right .galleriffic-content {
    float: left;
    width: 60%;
}

