body.widget-snippet {
    padding: 40px;
}
.snippet-content-img > .row {
    margin-bottom: 15px;
    margin-top: 15px;
}
.snippet-content-img .row > div {
    padding-bottom: 15px;
    padding-top: 15px;
}
.snippet-content-img h2 {
    font-family: inherit;
    color: #272727;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
}
.snippet-content-img .line-seperator {
    background-color: #272727;
    height: 1px;
    margin: 15px 0 30px;
    width: 100px;
}
.snippet-content-img p {
    font-size: 14px;
    color: #5d5d5d;
    line-height: 26px;
    margin-bottom: 25px;
    padding: 0;
}
body.widget-snippet .snippet-content-img .readMoreWrap {
    display: inline-block;
    padding: 7px;
}
body.widget-snippet .snippet-content-img a {
    margin-left: -7px;
}
.snippet-content-img a {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
}
.snippet-content-img i {
    color: #2d2d2d;
    margin-left: 7px;
}