.login-panel {
    background-color : #1199C4;
}
.login-panel-lt {
    color : #FFFFFF;
}
.login-panel li:before {
    background-color : #EBEBEB;
}
.login-panel-lt p:before {
    background-color : #FFFFFF;
}
.login-panel-rt {
    background-color : #FFFFFF;
}
.login-panel .admin-login:after {
    background-color : #1199C4;
}
.login-panel .lost-password a {
    color : #545454;
}
.login-panel .lost-password a:hover {
    color : #16AAD8;
}
.login-panel button {
    font-family         : 'source_sans_prosemibold';
    display             : block;
    padding             : 12px 0;
    margin-bottom       : 0;
    font-size           : 16px;
    font-weight         : normal;
    line-height         : 1.42857143;
    text-align          : center;
    white-space         : nowrap;
    vertical-align      : middle;
    -ms-touch-action    : manipulation;
    touch-action        : manipulation;
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    background-image    : none;
    background-color    : #1199C4;
    border              : 1px solid transparent;
    border-radius       : 4px;
    color               : #FFFFFF;
    text-transform      : uppercase;
    width               : 100%;
    transition          : all 0.2s ease-out 0s;
}

.login-panel button:hover,
.login-panel button:focus,
.login-panel button.focus {
    background-color : #1187AC;
    text-decoration  : none;
}
.login-panel button:active,
.login-panel button.active {
    background-image   : none;
    background-color   : #48B4D6;
    outline            : 0;
    -webkit-box-shadow : inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow         : inset 0 3px 5px rgba(0, 0, 0, .125);
}
/*Admin Login panel design END*/


/* --------------------------------------------------- !table design start ---------------------------------------------*/
caption {
    color          : #666;
}
th {
    color: #1199c4;
    font-size: 14px;
    font-weight: normal;
    background: #fff;
}
td {
    border-top : 1px solid #E6E5E5;
    color      : #7E7E7E;
}
/*tab container table design*/

.app-tab-container.table-view table th {
    background-color: #fff;
    color: #16aad8;
}
table td {
    border-bottom: 1px solid #eaeff0;
    border-top: 1px solid #eaeff0;
}
table tr.selected {
    background: #fff;
    box-shadow: 4px 0 0 0 #16aad8 inset;
}
.gc table tr.selected td:first-child {
    -webkit-box-shadow: 4px 0 0 0 #16aad8 inset;
}
table tr.selected:hover {
    background: #f5f6f6;
}
.select-customer-for-order table tr.selected:hover,
.select-customer-for-order table tr.selected {
    background: #16aad8;
    box-shadow: none;
}
.select-customer-for-order table tr.selected td {
    color: #fff;
}
.select-customer-for-order table tr.selected.highlighted td {
    background-color: #16aad8;
}
.select-customer-for-order table tr.selected td:last-child {
    background-image: url("../../images/admin/row_selected.png") ;
    background-position: right center;
    background-repeat: no-repeat;
}
table tr:hover {
    background-color: #fffdf5;
}
tr:nth-child(2n) {
    background-color: #fafbfc;
}
/* --------------------------------------------------- !form element design ---------------------------------------------*/
legend {
    border-bottom : 1px solid #E5E5E5;
}
/* --------------------------------------------------- !button design ---------------------------------------------*/
.btn,
button,
input[type=button],
.submit-button,
.download-button,
.cancel-button,
button:active,
.submit-button:active
.download-button:active,
.cancel-button:active {
    background-color : #1198C5;
    color            : #FFFFFF;
}
.btn:hover,
button:hover,
input[type=button]:hover,
.submit-button:hover,
.download-button:hover {
    background-color : #1187AC;
}
.cancel-button {
    background : #4A647D;
}
.cancel-button:hover {
    background : #3F566C;
}
/* --------------------------------------------------- !top component design ---------------------------------------------*/




/* --------------------------------------------------- !works space design ---------------------------------------------*/

/*two panel design*/
.two-panel-explorer .left-panel ,
.two-panel-resizable .left-panel {
    background-color : #FFFFFF;
    border-top           : 1px solid #E6E7E9;
    border-bottom           : none;
    border-right           : 1px solid #E6E7E9;
    border-left           : 1px solid #E6E7E9;
}
.two-panel-explorer .right-panel ,
.two-panel-resizable .right-panel {
    background-color : #FFFFFF;
    border-top       : 1px solid #E6E7E9;
    border-bottom    : none;
    border-right     : 1px solid #E6E7E9;
    border-left      : 1px solid #E6E7E9;
    height: calc(100%);
}
/*without resizeable*/
.two-panel-explorer .left-panel ,
.two-panel-resizable.without-resize-bar .left-panel {
    background-color : #EEF4F4;
    border-top       : 1px #E6E7E9 solid;
    border-bottom       : 1px #E6E7E9 solid;
    border-right      : none;
    height: calc(100%);
}
.two-panel-explorer .right-panel ,
.two-panel-resizable.without-resize-bar .right-panel {
    border-top   : 1px #E6E7E9 solid;
    border-left : none;

}
.app-tab-container .panel > .tree-title {
    border-bottom: 1px solid #e5e5e5;
    color: #1198c5;
}
.right-panel .group-label {
    color: #333;
}
.right-panel .group-label:after {
    background-color: #079ee4;
}
/* --------------------------------------------------- !component tab design ---------------------------------------------*/

.tab-header-wrapper {
    background-color: #ffffff;
    box-shadow: 0 -1px 0 0 #e1e2e2 inset;
}
.tab-header {
    border-right : 1px solid #D1D5D8;
    border-left  : 1px solid #D1D5D8;
    color        : #FFFFFF;
}
.tab-header.current {
    background-color : #f0f3f4;
}
/*ajax loding error design*/
.tab-header.ajax-loading-error {
    background : linear-gradient(to bottom, #CEDCE7 0%, #FF5151 100%);
}
.tab-header.ajax-loading-error.current {
    background : #E47272;
}
.tab-header.ajax-loading-error.current > * {
    color: #fff;
}
/*toolber design*/

.app-tab-container .body .header-title {
    color: #1199c4;
    font-weight: normal;
}
.tool-group .toolbar-item i,
.toolbar .search-form > button:before,
.tool-group.search-form .remove-search {
    background-image : url("../../images/admin/toolbar-icon-sprite.png");
}
.tool-group {
}
.tool-group .toolbar-item {
    background-color: #fff;
    border-right: 1px solid #e2e2e2;
}
.toolbar-item:first-child {
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
.toolbar-item:last-child {
    border-bottom : 1px solid #E2E2E2;
    border-right  : 1px solid #E2E2E2;
    border-top    : 1px solid #E2E2E2;
}
.tool-group.action-tool {
    background-color: #fff;
    border: 1px solid #e2e2e2;
}
.tool-group .action-dropper {
    border-color: #ccc transparent transparent;
}
.tool-group .tool-text {
    color: #777;
    font-size: 14px;
}
.tool-group.toolbar-btn {
    background-color: #fff;
    border: 1px solid #e2e2e2;
}
.search-form .search-text {
    border: 1px solid #e2e2e2;
}
.search-form .search-text:focus {
    border: 1px solid #1199C4;
    position: relative;
    z-index: 10;
}
.toolbar .search-form > button {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e2e2e2;
}
/* --------------------------------------------------- !layout tab design ---------------------------------------------*/
.blocklist-item {
    background-color : #FFFFFF;
    border           : 1px solid #D9E3E2;
}
.blocklist-item:hover {
    background-color : #F8F9FB;
}
.blocklist-item.selected {
    background-color : #f9f9f9;
    border: 1px solid #1199C4;
}
.blocklist-item.selected .listitem-title {
    color : #1199C4;
}
.blocklist-item.selected .blocklist-subitem-summary-view {
    color : #000;
}
.blocklist-item .layout-title {
    color : #4C5053;
}
.blocklist-item .blocklist-subitem-summary-view {
    color : #B2B2B2;
}
.blocklist-item.selected:nth-child(n):before {
    background-color : #1199C4;
}
.blocklist-item:nth-child(4n+1):before {
    background-color : #7CBD61;
}
.blocklist-item:nth-child(4n+2):before {
    background-color : #1196BF;
}
.blocklist-item:nth-child(4n+3):before {
    background-color : #FF7E22;
}
.blocklist-item:nth-child(4n+4):before {
    background-color : #22D3FF;
}

/* --------------------------------------------------- !status bar space design ---------------------------------------------*/
#status-bar {
    background-color : #E9EEF0;
    border-top       : 1px solid #D0D5D7;
}
/* --------------------------------------------------- !floting menu design ---------------------------------------------*/

/* --------------------------------------------------- !dashbord design ---------------------------------------------*/
.dashlet-content-wrapper {
    background-color : #E9EEF0;
}
.dashlet .header {
    background-color : #F6F8F8;
}
.dashlet .header .title {
    color : #90999C;
}
.quick-report-column {
    background-color : #FFFFFF;
}
.quick-report-column .icon {
    background-image : url("../../images/admin/quick-report-icon-sprite.png");
}
.quick-report-column .column-content .title {
    color : #9C9B9B;
}
.dashlet-ribbon {
    background-color : #FFFFFF;
}
.dashlet-ribbon .icon {
    background-image : url("../../images/admin/ribbon-icon-sprite.png");
}
.dashlet-ribbon:hover {
    background-color : #F8F9FB;
}
/* --------------------------------------------------- !notification, alert, comfirm design ---------------------------------------------*/
.notification.error {
    background-color : #FD7380;
}
.notification.success {
    background-color : #44C380;
}
.notification.alert,
.notification.warning {
    background-color : #ec9e2f;
}
.notification.error .type,
.notification.success .type {
    color : #FFFFFF;
}
.notification.alert .type,
.notification.warning .type {
    color : #fff;
}
.notification .message {
    color : #fff;
}
.notification.error .message,
.notification.warning .message,
.notification.success .message,
.notification.info .message {
    color : #fff;
}
/*confirm, alert*/
.alert-popup,
.confirm-popup {
    box-shadow       : 0px 0px 25px rgba(0, 0, 0, .2);
    background-color : #FFFFFF;
}
.confirm-popup .header-line {
    background-color : #1198C5;
}
.alert-popup.error .header-line {
    background-color : #FD7380;
}
.alert-popup.warning .header-line {
    background-color : #6546b5;
}
.alert-popup.success .header-line {
    background-color : #44C380;
}
.confirm-popup .header-line .title {
    color : #FFFFFF;
}
.alert-popup .body,
.confirm-popup .body {
    color : #767676;
}
.alert-popup .button-line,
.confirm-popup .button-line,
.popup .button-line {
    background-color : #F2F6F7;
}
.alert-popup .header-line .ok {
    color : #FFFFFF;
}
.alert-popup.error .header-line .ok {
    background-color : #FD838E;
    border-left      : 1px #F16D7A solid;
}
.alert-popup.error .header-line .ok:hover {
    background-color : #F26D7A;
}
.alert-popup.warning .header-line .ok {
    background-color : #F3E4A3;
    border-left      : 1px #E6D58D solid;
}
.alert-popup.warning .header-line .ok:hover {
    background-color : #E6D58D;
}
.alert-popup.success .header-line .ok {
    background-color : #59C98F;
    border-left      : 1px #41B97B solid;
}
.alert-popup.success .header-line .ok:hover {
    background-color : #41B97B;
}

/*tree design*/
.tree-node.grand-root .tree-title {
    color: #000;
}