.header,
.body,
.footer {
    position : relative;
}
.body[section] .widget-container,
.body[section] .grid-block {
    min-height : 100px;
}
.iframe-mask {
    background-color : transparent;
    position         : fixed;
    left             : 0;
    right            : 0;
    top              : 0;
    bottom           : 0;
    z-index          : 10000;
}
.iframe-mask.editor-with-solid-grid {
    background-image : url(../../images/admin/editor/solid_grid.png);
}
.iframe-mask.editor-with-dotted-grid {
    background-image : url(../../images/admin/editor/grid_dotted.png);
}
.ie8 .iframe-mask {
    background-image : url(../../images/common/transparent_00.png);
}
.product-widget .widget-overlay:hover,
.widget .widget-overlay:hover {
    border : 2px solid #0098FF;
}
.widget-bounding-box {
    position    : absolute;
    width       : 10px;
    height      : 10px;
    font-size   : 1px;
    line-height : 10px;
    background  : url(../../images/admin/editor/bb-widget-boundary-strip.png) no-repeat 0 0 transparent;
    display     : none;
    cursor      : default;
}
.widget-overlay.selected .widget-bounding-box {
    display : block;
}
.widget-bounding-box.selected {
    background-position : 0 -10px;
}
.widget-overlay.selected {
    border           : 2px dotted #0098FF;
    background-color : rgba(6, 116, 252, 0.4);
    cursor           : move;
    z-index          : 12100;
}
.widget-overlay {
    z-index  : 12000;
    position : absolute;
    left     : 0;
    top      : 0;
    right    : 0;
    bottom   : 0;
}
.widget .widget > .widget-overlay {
    display : none;
}
.top-left {
    top     : 0;
    left    : 0;
    z-index : 12500;
}
.top-right {
    top     : 0;
    right   : 0;
    z-index : 12500;
}
.bottom-right {
    bottom  : 0;
    right   : 0;
    z-index : 12500;
}
.bottom-left {
    bottom  : 0;
    left    : 0;
    z-index : 12500;
}
.bounding-box-line-x,
.bounding-box-line-x-2 {
    height     : 0;
    border-top : 1px dotted #0000FF;
    position   : absolute;
    z-index: 13500;
}
.bounding-box-line-y,
.bounding-box-line-y-2 {
    width       : 0;
    border-left : 1px dotted #0000FF;
    position    : absolute;
    z-index: 13500;
}
.dockable {
    display : none;
    z-index : 13000;
}
.editable-area-overlay, .noneditable-area-overlay, .section-overlay, .body-section-overlay {
    bottom   : 0;
    left     : 0;
    position : absolute;
    right    : 0;
    top      : 0;
    z-index  : 10500;
}
.active-section .body-section-overlay {
    border: 3px dashed lime;
}
.body-section-overlay.selected {
    border: 3px dashed violet;
}
.active-section .editable-area-overlay {
    border: 3px dashed #999;
    z-index: 11500;
}
.active-section .section-overlay {
    display : none;
}
.page-content.selected,
.editable-area-overlay.selected {
    border: 3px dashed #3997D6;
}
.widget-overlay .tool-icon.remove {
    background-color    : #FFFFFF;
    background-image    : url("../../images/admin/16-icon-sprit.png");
    background-position : -688px 0;
    border              : 1px solid #1199C4;
    position            : absolute;
    right               : 10px;
    top                 : 10px;
    display             : none;
}
.widget-overlay.selected .tool-icon.remove {
    display : block;
}
.tool-icon {
    background-image  : url("../../images/admin/tool-icon-sprite.png");
    background-repeat : no-repeat;
    cursor            : pointer;
    border            : 1px solid #333333;
    border-right      : none;
    display           : inline-block;
    height            : 16px;
    width             : 16px;
    z-index           : 1005;
    vertical-align    : top;
}
.tool-icon.css-edit {
    background-position : -64px 0;
}
.tool-icon.js-edit {
    background-position : -80px 0;
}
.tool-icon.configure {
    background-position : -96px 0;
}
.tool-icon.remove {
    background-position : -112px 0;
    border-right        : 1px solid #333333;
}
.tool-icon.clazz-edit {
    background-position : -496px 0;
    border-right        : 1px solid #333333;
}
.drag-item-hover {
    outline : 3px dotted #FF0000;
}
.widget-sort-placeholder {
    margin        : 0;
    min-height    : 30px;
    border        : 2px dashed #1965A8;
    border-radius : 5px;
    text-align    : center;
    font-size     : 18px;
    font-weight   : bold;
    opacity       : 1;
}
.page-content {
    background-color : rgba(72, 195, 127, 0.5);
    bottom           : 0;
    left             : 0;
    position         : absolute;
    right            : 0;
    top              : 0;
    z-index: 11000;
}
.edit-page-with-layout .page-content {
    background-color : inherit;
    position: relative;
    min-height: 100px;
    z-index: 11500;
}
.width-info {
    display          : block;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    margin-top       : -18px;
    margin-left      : -18px;
    z-index          : 12000;
    border           : 2px solid #FF8E8E;
    padding          : 2px;
    background-color : #0044CC;
    color            : #33FF33;
    font-size        : larger;
}
.dock-mask {
    background-image: url(../../images/admin/editor/solid_grid.png);
    position         : absolute;
    left             : 0px;
    right            : 0px;
    top              : 0px;
    bottom           : 0px;
    z-index          : 11000;
}
.widget-socialMediaLike .facebook-like-us {
    width : 84px;
}
.widget-socialMediaLike .twitter-like-us {
    width : 83px;
}
.widget-socialMediaLike .googleplus-like-us {
    background : url("../../images/admin/g_plus-icon.png") no-repeat scroll left top;
    width      : 66px;
}
.widget-socialMediaLike .pinterest-like-us {
    background : url("../../images/admin/pin-icon.png") no-repeat left top;
}
.malfunctioned.widget {
    background-color : rgba(255, 0, 0, 0.3);
    border           : 1px solid rgb(255, 0, 0);
}
.toolbar-item {
    background-image  : url("../../images/admin/toolbar-icon-sprite.png");
    background-repeat : no-repeat;
    cursor            : pointer;
    display           : inline-block;
    height            : 18px;
    margin            : 0 2px;
    width             : 18px;
}
.toolbar-item.switch-width {
    background-position : -216px -90px;
}
.toolbar-item.hide {
    background-position : -234px -90px;
}
.toolbar-item.switch-width.fixed-width {
    background-position : -252px -90px;
}
.toolbar-item.config {
    background-position : -252px -18px;
}
.section-overlay, 
.noneditable-area-overlay {
    background-color : rgba(251, 116, 128, 0.2);
}
.set-content-block {
    background-color : #3B9CDD;
    border           : 2px solid #348AC4;
    bottom           : 10px;
    box-shadow       : 3px 3px;
    color            : #FFFFFF;
    cursor           : pointer;
    display          : none;
    left             : 10px;
    padding          : 5px;
    position         : absolute;
    z-index          : 10200;
}
.set-content-block:active {
    box-shadow : none;
}
:hover > .set-content-block {
    display : block;
}
.bmui-sortable-placeholder {
    border: 3px dashed #ff5e00;
    height: 50px;
}
.body-section-overlay.selected {
    position     : absolute;
    left         : 0;
    top          : 0;
    right        : 0;
    bottom       : 0;
    border-color : goldenrod;
}
.dragged-over-zone {
    position         : absolute;
    background-color : rgba(6, 116, 252, 0.4);
    z-index          : 10100;
}
.multi-selection-overlay {
    background-color : rgba(6, 116, 252, 0.4);
    border           : 2px solid #0098FF;
    bottom           : 0;
    left             : 0;
    position         : absolute;
    right            : 0;
    top              : 0;
}
.multi-selection-overlay.multi-selection-master-widget {
    background-color : rgba(241, 124, 89, 0.4);
    border           : 2px solid #F17C59;
}
.bmui-draggable-cloned-helper {
    cursor : move;
}
.widget-item {
    background     : none repeat scroll 0 0 #FFFFFF;
    border         : 1px solid #899394;
    border-radius  : 3px;
    cursor         : move;
    display        : inline-block;
    margin         : 3px;
    padding        : 14px 0 10px;
    text-align     : center;
    vertical-align : top;
    width          : 93px;
    z-index        : 10100;
}
.widget-item .title {
    display       : block;
    overflow      : hidden;
    padding       : 0 5px;
    text-overflow : ellipsis;
    white-space   : nowrap;
}
.splitter-logo,
.widget-logo {
    background-image    : url("../../images/admin/widget-icon-sprite.png");
    background-repeat   : no-repeat;
    background-position : 0 0;
    display             : inline-block;
    height              : 36px;
    margin              : 2px auto 10px;
    width               : 36px;
}
.splitter-logo {
    margin : 2px auto;
}
/*widget-icon sprite*/
.article .widget-logo {
    background-position : 0 0;
}
.breadcrumb .widget-logo {
    background-position : -36px 0;
}
.cart .widget-logo {
    background-position : -72px 0;
}
.category .widget-logo {
    background-position : -108px 0;
}
.currency .widget-logo {
    background-position : -144px 0;
}
.gallery .widget-logo {
    background-position : -180px 0;
}
.html .widget-logo {
    background-position : -216px 0;
}
.image .widget-logo {
    background-position : -252px 0;
}
.login .widget-logo {
    background-position : -288px 0;
}
.navigation .widget-logo {
    background-position : -324px 0;
}
.news .widget-logo {
    background-position : -360px 0;
}
.newsletter .widget-logo {
    background-position : -396px 0;
}
.product .widget-logo {
    background-position : -432px 0;
}
.search .widget-logo {
    background-position : -468px 0;
}
.socialMediaLike .widget-logo {
    background-position : -504px 0;
}
.socialMediaLink .widget-logo {
    background-position : -540px 0;
}
.socialMediaShare .widget-logo {
    background-position : -576px 0;
}
.productName .widget-logo {
    background-position : 0 -36px;
}
.productSummary .widget-logo {
    background-position : -36px -36px;
}
.productSku .widget-logo {
    background-position : -72px -36px;
}
.productCategory .widget-logo {
    background-position : -108px -36px;
}
.productManufacturer .widget-logo {
    background-position : -144px -36px;
}
.productBrand .widget-logo {
    background-position : -180px -36px;
}
.productDownloadableSpec .widget-logo {
    background-position : -216px -36px;
}
.productModel .widget-logo {
    background-position : -252px -36px;
}
.productImage .widget-logo {
    background-position : -288px -36px;
}
.price .widget-logo {
    background-position : -324px -36px;
}
.stockMark .widget-logo {
    background-position : -360px -36px;
}
.combinedProduct .widget-logo {
    background-position : -396px -36px;
}
.variation .widget-logo {
    background-position : -432px -36px;
}
.addCart .widget-logo {
    background-position : -468px -36px;
}
.likeus .widget-logo {
    background-position : -504px -36px;
}
.information .widget-logo {
    background-position : -540px -36px;
}
.related .widget-logo {
    background-position : -576px -36px;
}
.bmui-resize-handle {
    position : absolute;
    z-index : 12500;
}
.bmui-resize-handle.resize-top:hover,
.bmui-resize-handle.resize-bottom:hover {
    cursor : n-resize;
}
.bmui-resize-handle.resize-left:hover,
.bmui-resize-handle.resize-right:hover {
    cursor : e-resize;
}
.bmui-resize-handle.resize-top {
    left   : 0;
    right  : 0;
    top    : 0;
    height : 3px;
}
.bmui-resize-handle.resize-right {
    bottom : 0;
    right  : 0;
    top    : 0;
    width  : 3px;
}
.bmui-resize-handle.resize-bottom {
    left   : 0;
    right  : 0;
    bottom : 0;
    height : 3px;
}
.bmui-resize-handle.resize-left {
    left   : 0;
    bottom : 0;
    top    : 0;
    width  : 3px;
}
.bmui-droppable-active-target .editable-area-overlay {
    border-color: #ff5e00;
}
.widget .widget {
    z-index : 1;
}