.Zebra_DatePicker *, .Zebra_DatePicker :after, .Zebra_DatePicker :before {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.Zebra_DatePicker {
    background: none repeat scroll 0 0 #1199c4;
    border: 3px solid #1199c4;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.3);
    display: none;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 13px;
    position: absolute;
    z-index: 100;
}
.Zebra_DatePicker th,
.Zebra_DatePicker td {
    height: auto;
}
.Zebra_DatePicker tr:hover {
    background: none;
}
.Zebra_DatePicker * {
    margin: 0;
    padding: 0;
    color: #000;
    background: transparent;
    border: 0
}
.Zebra_DatePicker table {
    border-collapse: collapse;
    border-spacing: 0
}
.Zebra_DatePicker td, .Zebra_DatePicker th {
    text-align: center;
    padding: 5px 0
}
.Zebra_DatePicker td {
    cursor: pointer
}
.Zebra_DatePicker .dp_daypicker, .Zebra_DatePicker .dp_monthpicker, .Zebra_DatePicker .dp_yearpicker {
    margin-top: 3px
}
.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th, .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0e1e2;
    color: #000;
    font-size: 11px;
    width: 30px;
}
.Zebra_DatePicker .dp_timepicker .dp_caption, .Zebra_DatePicker .dp_header td {
    color: #FFF
}
.Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next {
    width: 30px;
    color: #fff;
}
.Zebra_DatePicker .dp_header .dp_previous:hover, .Zebra_DatePicker .dp_header .dp_next:hover {
    opacity: .5;
}
.Zebra_DatePicker .dp_timepicker .dp_caption,
.Zebra_DatePicker .dp_header .dp_caption {
    font-weight: 700
}
.Zebra_DatePicker .dp_timepicker .dp_caption {
    font-weight: normal;
    line-height: 16px;
    text-align: center;
}
.Zebra_DatePicker .dp_timepicker td.dp_hover {
    background: 0 0
}
.Zebra_DatePicker .dp_header .dp_hover, .Zebra_DatePicker td.dp_timepicker_done.dp_hover, .Zebra_DatePicker .dp_footer .dp_hover {
    color: #FFF
}
.Zebra_DatePicker .dp_header .dp_blocked {
    color: #888;
    cursor: default
}
.Zebra_DatePicker .dp_daypicker th {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    border: 1px #0f89b0 solid;
}
.Zebra_DatePicker td.dp_not_in_month {
    background: #F3F3F3;
    color: #CDCDCD;
    cursor: default
}
.Zebra_DatePicker td.dp_not_in_month_selectable {
    background: #F3F3F3;
    color: #CDCDCD;
    cursor: pointer
}
.Zebra_DatePicker td.dp_weekend {
    background: none repeat scroll 0 0 #f1ecd8;
}
.Zebra_DatePicker td.dp_weekend_disabled {
    color: #CCC;
    cursor: default
}
.Zebra_DatePicker td.dp_selected {
    background: #F56460;
    color: #FFF
}
.Zebra_DatePicker td.dp_week_number {
    background: #FC3;
    color: #555;
    cursor: text;
    font-style: italic
}
.Zebra_DatePicker .dp_monthpicker td {
    width: 33%
}
.Zebra_DatePicker .dp_yearpicker td {
    width: 33%
}
.Zebra_DatePicker .dp_footer {
    margin-top: 3px
}
.Zebra_DatePicker .dp_timepicker_done td, .Zebra_DatePicker .dp_footer td {
    color: #FFF;
    padding: 2px;
    font-weight: 700
}
.Zebra_DatePicker td.dp_current {
    color: #1199c4;
    font-weight: bold;
}
.Zebra_DatePicker td.dp_disabled_current {
    color: #E38585
}
.Zebra_DatePicker td.dp_disabled {
    background: #F3F3F3;
    color: #CDCDCD;
    cursor: default
}
.Zebra_DatePicker .dp_daypicker td.dp_hover {
    background: #1199c4;
    color: #FFF
}
button.Zebra_DatePicker_Icon {
    background: url("../../images/widgets/zebra_datepicker/calendar.png") no-repeat scroll right center transparent;
    border: 0 none;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0;
    padding: 0 25px 0 0;
    position: absolute;
    text-align: left;
    text-indent: 15px;
    top: 0;
    vertical-align: top;
    width: 100%;
}
button.Zebra_DatePicker_Icon:hover {
    background-color: transparent;
}
.form-row .Zebra_DatePicker_Icon_Wrapper input {
    background: none repeat scroll 0 0 transparent;
    width: 200px;
    z-index: 20;
}
.Zebra_DatePicker_Icon_Disabled {
    background-image: url(../../images/widgets/zebra_datepicker/calendar-disabled.png)
}
.Zebra_DatePicker_Icon_Inside {
    margin-left: -20px
}
.Zebra_DatePicker {
    z-index: 10000
}
.Zebra_DatePicker_Icon {
    min-width: inherit
}
.Zebra_DatePicker table {
    width: auto
}
.Zebra_DatePicker .dp_timepicker_done {
    width: 100%
}
.Zebra_DatePicker .dp_timepicker {
    margin-top: 5px
}
.Zebra_DatePicker .jslider .jslider-label {
    color: #3F3
}
