body.widget-snippet {
    padding: 40px;
}
.snippet-three-colomn-feature .col-sm-4 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.snippet-three-colomn-feature .col-sm-4:nth-child(3n + 1) {
    clear: left;
}
.snippet-three-colomn-feature .image-wrap {
    padding-bottom: 30px;
}
.snippet-three-colomn-feature .html-container h1 {
    font-weight: 400;
    text-transform: uppercase;
}
@media (max-width: 991px) {
    .snippet-three-colomn-feature .image-wrap {
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .snippet-three-colomn-feature .col-sm-4:not(:last-child) {
        padding-bottom: 0;
    }
    
}