
.add-to-gift-wrapper-popup.popup {
    max-width: 50%;
}

.product-name .gift-wrapper-add-btn {
    color: #26ace2;
    text-decoration: underline;
    cursor: pointer;
}

.product-name .gift-wrapper-change-btn {
    color: #26ace2;
    text-decoration: underline;
    cursor: pointer;
}

.product-name .gift-wrapper-remove-btn {
    color: #26ace2;
    text-decoration: underline;
    cursor: pointer;
}

.gift-wrapper-thumb-view {
    width: 120px;
    height: 130px;
}

.gift-wrapper-thumb-view img {
    width: 120px;
    height: 130px;
}

.gift-wrapper-popup-body {
    overflow-y: auto;
    max-height: 700px;
}

.gift-wrapper-add-button {
    width: 100px;
}

.gift-wrapper-message-label {
    display: table-cell;
    vertical-align: middle;
}

.gift-wrapper-info {
    margin: 0 0 0px;
}

.gift-wrapper {
    padding-top: 10px;
}

.gift-wrapper-tax-message {
    color: #8f8787;
}

textarea.small.gift-wrapper-message-input {
    height: 50px;
}
