body.widget-snippet {
    padding: 40px;
}
.snippet-member-with-social h3 {
    color: #555;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.snippet-member-with-social .separator-line {
    background-color: #999;
    margin: 15px auto 30px auto;
    height: 3px;
    width: 50px;
}
.snippet-member-with-social .col-md-3 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.snippet-member-with-social .member-img {
    height: 250px;
    margin-bottom: 15px;
    overflow: hidden;
}
.snippet-member-with-social .member-img img {
    width: 100%;
}
.snippet-member-with-social h4 {
    color: #555;
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snippet-member-with-social h5 {
    color: #555;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snippet-member-with-social p {
    color: #555;
    font-size: 14px;
    height: 95px;
    line-height: 24px;
    margin: 15px 0;
    overflow: hidden;
    padding: 0;
}
.snippet-member-with-social .member-social {
    border: 1px solid #ddd;
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
.snippet-member-with-social .member-social li {
    border-left: 1px solid #ddd;
    display: table-cell;
    margin: 0;
    padding: 3px;
}
.snippet-member-with-social .member-social li:first-child {
    border-left: medium none;
}
.snippet-member-with-social .member-social a {
    display: inline-block;
    height: 100%;
    padding: 3px;
    width: 100%;
}
.snippet-member-with-social .member-social i {
    color: #999;
    font-size: 14px;
    margin: 0;
}
.snippet-member-with-social .member-social a:hover i {
    color: #000 !important;
}
@media screen and (max-width:479px){
    .snippet-member-with-social .col-md-3 {
        width: 100%;
    }
    .snippet-member-with-social .member-img {
        height: auto;
    }
}