.flash .widget-logo {
    background-image    : url("../../images/admin/flash-widget.png");
    background-repeat: no-repeat;
    background-position : 0 0;
}
.flash-widget-preview {
    width: 360px;
}