/out
/example
/hibernate_cache
/binary-collection
*.iml
/logs
.idea
.slcache
target
.project
.classpath
/src/main/webapp/pub
/src/main/webapp/temp
/src/main/webapp/wc/*/plugins
/src/main/webapp/wc/*/production-minified
/src/main/webapp/template
/src/main/webapp/template-data
/src/main/webapp/old-template
/src/main/webapp/new-template
/src/main/webapp/resources
/src/main/webapp/WEB-INF/vcs
/src/main/webapp/WEB-INF/temp
/scripts/scripts.conf
/src/main/webapp/WEB-INF/wc-plugins
/src/main/webapp/WEB-INF/logs
/grails-app/i18n/*.properties
/src/main/webapp/js/i18n/*.properties
!/src/main/webapp/js/i18n/messages.properties
!/grails-app/i18n/messages.properties
/src/main/webapp/WEB-INF/modifiable-resources
!/src/main/webapp/js/i18n/messages_en.properties
!/src/main/webapp/js/i18n/messages_en-US.properties
/grails-app/conf/config
/docs/wc-kb

Thumbs.db
.DS_Store
.gradle
build
*.ipr
*.iws
.settings
*/build
*/*/build
*/.gradle
*/*/.gradle
/gradle
/gradlew
/gradlew.bat

/wc-plugins/*/out
/wc-plugins/*/.idea
/wc-plugins/*/target
/wc-plugins/*/plugin.xml
/wc-plugins/*/grails-app/i18n/*.properties
/wc-plugins/*src/main/webapp/js/i18n/*.properties
!/wc-plugins/*src/main/webapp/js/i18n/messages.properties
!/wc-plugins/*/grails-app/i18n/messages.properties
!/wc-plugins/*src/main/webapp/js/i18n/messages_en.properties
!/wc-plugins/*src/main/webapp/js/i18n/messages_en-US.properties
/wc-plugins/*/.slcache/
/wc-plugins/*/test/
/plugin-collection
/development-plugin.gradle
webcommander/out/
