.youtube .widget-logo {
    background-image    : url("../../images/admin/youtube-icon.png");
    background-repeat: no-repeat;
    background-position : 0 0;
}

.youtube-item-container .resultViewer {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    min-height: 150px;
    padding: 10px;
    width: 100%;
}
.youtube-item-container {
    padding-left: 205px;
}
.youtube-item-container .nav-buttons {
    display: inline-block;
    cursor: pointer;
    height: 22px;
    vertical-align: middle;
}
.youtube-item-container .nav-buttons.left {
    background: url("../../images/admin/youtube-search-nav-left.png");
    width: 26px;
}
.youtube-item-container .nav-buttons.right {
    background: url("../../images/admin/youtube-search-nav-right.png");
    width: 25px;
}
.form-row.video-source input {
    width: calc(100% - 105px);
}
.form-row.video-source button {
    margin: 0 0 0 6px;
    padding: 8px 25px;
}
.youtube-item-container {
    padding: 35px 0 25px;
}
.youtube-item-container .navigation-wrapper {
    margin-bottom: 6px;
    text-align: right;
    width: 100%;
}
.youtube-item-container .navigation-wrapper .navigation {
    background-color: #1187ac;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    padding: 5px 25px;
    -webit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.youtube-item-container .navigation-wrapper .navigation:hover {
    background-color: #1198c5;
}

