body.widget-snippet {
    padding: 40px;
}
.snippet-what-we-do .text-center {
    margin-bottom: 20px;
}
.snippet-what-we-do .title-med {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.snippet-what-we-do .separator-line {
    background-color: #ffcc33;
    height: 2px;
    margin: 15px auto;
    width: 30px;
}
.what-content-box .separator-line {
    height: 3px;
    margin: 0 auto;
    width: 60px;
}
.snippet-what-we-do .text-large {
    color: #626262;
    font-size: 15px;
    line-height: 24px;
}
.what-do-box {
    padding: 15px;
    text-align: center;
}
.snippet-what-we-do .col-sm-4:nth-child(3n+1) {
    clear: left;
}
.what-content-box {
    border: 1px solid #eaeaea;
    overflow: hidden;
    padding-bottom: 20px;
}
.what-content-box p {
    box-sizing: border-box;
    font-size: 14px;
    height: 70px;
    line-height: 24px;
    margin: 20px 0;
    overflow: hidden;
    padding: 0 15px;
}
.what-do-img {
    position: relative;
}
.what-do-img img {
    max-width: 100%;
    max-height: 400px;
    vertical-align: middle;
}
.what-do-img::after {
    border-right: 40em solid #fff;
    border-top: 50px solid transparent;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
}
.what-content-box h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.what-do-box a.read-more::after {
    content: "+";
    font-size: 18px;
    font-weight: 400;
    left: auto;
    position: absolute;
    right: 0;
    top: -3px;
}
.what-do-box a.read-more {
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding-right: 15px;
    position: relative;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .what-do-img::after {
        border-right: 700px solid #fff;
    }
}