/* +++++++++++++++++ widget design +++++++++++++++++++++++++ */

.rss-feed-container .item {
    padding: 0 0 10px;
}
.rss-feed-container .item .title {
    padding: 0 0 5px;
}
.rss-feed-container .item .title a {
    color: #FF9000;
    font-size: 16px;
    line-height: 23px;
    padding: 0 0 3px;
}
.rss-feed-container .item .title a:hover {
    color: #FBBA65;
}
.rss-feed-container .item .date {
    color: #777;
    padding-bottom: 3px;
}